[data-scope='toolbar'][data-part='root'] {
  &[data-is-small='true'] {
    margin-top: 1.25rem; /* mt-5 */
  }

  &[data-align='left'] {
    text-align: left;
  }

  &[data-align='right'] {
    text-align: right;
  }

  &[data-align='center'] {
    text-align: center;
    color: var(--color-red-700);
  }

  &[data-align='rightInRow'] {
    text-align: right;
    margin-top: 0;
    flex: 1 1 auto;
  }
}
