.ProgressBarsContainer {
  border: 1px solid var(--primary-color);
  width: 100%;
  height: 100%;
  min-width: 180px;
  z-index: 1;
  top: 0;
  left: 0;
  background: #eaeaea;
}

.ProgressBarContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ProgressBar {
  height: 100%;
  width: auto;
  max-width: 100%;
  background: var(--primary-color);
  opacity: 0.3;
  transition: width .3s;
}

.ProgressBarMessage {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: #000;
}
