:root {
  --color-button-primary-active: var(--color-theme-primary-100);
  --color-button-neutral-active: #212121;
  --color-button-accent-active: var(--color-theme-accent-800);
  --color-button-success-active: #ffffff;
  --color-button-error-active: var(--color-theme-error-400);
  --color-button-primary-disabled: var(--color-theme-primary-disabled-default);
  --color-button-primary-default: var(--color-theme-transparent);
  --color-button-neutral-default: var(--color-theme-transparent);
  --color-button-neutral-default-hover: rgba(33, 33, 33, 0.2);
  --color-button-inverse-default: var(--color-theme-background-primary-inverse-default);
  --color-button-accent-default: var(--color-theme-accent-default);
  --color-button-outline-default: var(--color-theme-neutral-100);
  --color-button-bordered-default: var(--color-theme-transparent);
  --color-button-accent-on-default: var(--color-theme-accent-on-default);
  --color-button-primary-on-disabled: var(--color-theme-primary-disabled-on-default);
  --color-button-primary-on-default: var(--color-theme-primary-800);
  --color-button-neutral-on-default: var(--color-pallete-gray-500);
  --color-button-inverse-on-default: var(--color-theme-background-primary-default);
  --color-button-bordered-on-default: var(--color-theme-primary-default);
  --color-button-bordered-active: var(--color-theme-primary-700);
  --color-button-bordered-on-active: var(--color-button-accent-on-default);
  --color-button-error-on-default: var(--color-theme-error-on-default);
  --color-button-error-default: var(--color-theme-error-default);
  --color-button-bordered-border-default: var(--color-theme-primary-default);
  --color-button-bordered-border-active: var(--color-theme-transparent);
  --color-button-success-default: var(--color-theme-success-default);
  --color-button-success-on-default: var(--color-theme-success-on-default);
  --color-button-secondary-active: var(--color-theme-secondary-300);
  --color-button-secondary-disabled: var(--color-theme-primary-disabled-default);
  --color-button-secondary-default: var(--color-theme-secondary-default);
  --color-button-secondary-on-default: var(--color-theme-primary-on-default);
  --color-button-secondary-on-disabled: var(--color-theme-primary-disabled-on-default);
  --color-button-warning-active: var(--color-theme-warning-600);
  --color-button-warning-on-default: var(--color-theme-warning-on-default);
  --color-button-warning-default: var(--color-theme-warning-default);
  --color-button-inverse-active: var(--color-pallete-gray-900);
  --color-button-neutral-disabled: #ffffff;
  --color-button-gray-default: var(--color-theme-gray-50);
  --color-button-gray-active: var(--color-theme-gray-200);
  --color-button-gray-on-default: var(--color-theme-gray-900);
  --color-button-accent-disabled: var(--color-theme-disabled-default);
  --color-button-bordered-disabled: #ff0000;
  --color-color-picker-primary-hover: #ffffff;
  --color-color-picker-primary-focus: #ffffff;
  --color-color-picker-primary-active: #ffffff;
  --color-divider-primary-default: var(--color-theme-divider-dark-default);
  --color-menu-primary-default: var(--color-theme-white);
  --color-menu-primary-shadow-default: var(--color-theme-gray-100);
  --color-menu-primary-border-default: var(--color-theme-gray-100);
  --color-menu-primary-on-default: var(--color-theme-text-primary-default);
  --color-menu-primary-group-label-default: var(--color-theme-text-secondary-default);
  --color-menu-primary-group-label-border-default: var(--color-theme-gray-200);
  --color-menu-primary-divider-default: var(--color-divider-primary-default);
  --color-menu-primary-item-active: var(--color-theme-primary-50);
  --color-menu-primary-item-disabled: var(--color-theme-disabled-500);
  --color-menu-secondary-item-on-active: var(--color-theme-primary-default);
  --color-menu-secondary-item-border-active: var(--color-theme-primary-400);
  --color-radio-group-primary-hover: #ffffff;
  --color-radio-group-primary-focus: #ffffff;
  --color-radio-group-primary-active: #ffffff;
  --color-radio-group-primary-Color: #ffffff;
  --color-radio-group-primary-control-default: var(--color-theme-transparent);
  --color-radio-group-primary-control-on-default: var(--color-theme-text-primary-default);
  --color-radio-group-primary-control-border-default: var(--color-theme-gray-200);
  --color-radio-group-primary-control-border-checked: var(--color-theme-primary-default);
  --color-radio-group-primary-control-border-disabled: var(--color-theme-disabled-default);
  --color-radio-group-primary-control-checked: var(--color-theme-primary-default);
  --color-sidebar-primary-hover: #ffffff;
  --color-sidebar-primary-focus: #ffffff;
  --color-sidebar-primary-active: #ffffff;
  --color-sidebar-primary: #ffffff;
  --color-sidebar-secondary: #ffffff;
  --color-sidebar-neutral: #ffffff;
  --color-sidebar-accent: #ffffff;
  --color-sidebar-warning: #ffffff;
  --color-sidebar-success: #ffffff;
  --color-sidebar-error: #ffffff;
  --color-tooltip-primary-on-default: var(--color-theme-white);
  --color-tooltip-primary-default: var(--color-theme-gray-800);
  --color-tooltip-primary: #ffffff;
  --color-navigation-primary-default: #ffffff;
  --color-footer-primary-default: var(--color-theme-accent-default);
  --color-footer-primary-on-default: var(--color-theme-text-primary-default);
  --color-memory-counter-primary: #ffffff;
  --color-toast-default: var(--color-theme-background-primary-inverse-default);
  --color-toast-success-default: var(--color-theme-success-default);
  --color-toast-cancel-default: var(--color-theme-error-default);
  --color-toast-warning-default: var(--color-theme-warning-default);
  --color-toast-on-default: var(--color-theme-background-primary-default);
  --color-toolbar-primary: #ffffff;
  --color-field-primary-default: var(--color-theme-gray-950);
  --color-field-primary-disabled: var(--color-theme-disabled-400);
  --color-field-primary-label-default: var(--color-theme-gray-200);
  --color-field-primary-label-active: var(--color-theme-gray-950);
  --color-field-primary-border-default: var(--color-theme-gray-200);
  --color-field-primary-border-active: var(--color-theme-gray-950);
  --color-field-primary-label-required: var(--color-theme-error-default);
  --color-field-primary-label-error: var(--color-theme-error-default);
  --color-field-primary-border-error: var(--color-theme-error-default);
  --color-field-primary-Color: #ffffff;
  --color-field-primary-border-disabled: var(--color-theme-disabled-400);
  --color-field-primary-icon-default: var(--color-theme-gray-200);
  --color-field-primary-icon-active: var(--color-theme-primary-default);
  --Color: var(--color-button-bordered-active);
  --color-button-group-primary-border-default: var(--color-theme-primary-default);
  --color-calendar-primary-header-default: var(--color-theme-primary-default);
  --color-calendar-primary-header-on-default: var(--color-theme-primary-on-default);
  --color-calendar-primary-default: var(--color-theme-primary-default);
  --color-calendar-primary-inverse-default: var(--color-theme-primary-inverse-default);
  --color-calendar-primary-button-default: #ffffff;
  --color-calendar-primary-item-selected-default: var(--color-theme-primary-default);
  --color-calendar-primary-item-selected-on-default: var(--color-theme-primary-inverse-default);
  --color-calendar-primary-item-default: var(--color-theme-transparent);
  --color-calendar-primary-trigger-default: #ffffff;
  --color-calendar-primary-trigger-border-default: var(--color-theme-neutral-400);
  --color-checkbox-primary-box-control-checked: var(--color-theme-primary-default);
  --color-checkbox-primary-box-control-on-checked: var(--color-theme-primary-on-default);
  --color-checkbox-primary-box-control-default: var(--color-theme-transparent);
  --color-checkbox-primary-box-control-border-checked: var(
    --color-checkbox-primary-box-control-checked
  );
  --color-checkbox-primary-box-control-border-default: var(--color-theme-black);
  --color-checkbox-primary-box-control-on-default: var(--color-theme-transparent);
  --color-checkbox-primary-label-default: var(--color-theme-text-primary-default);
  --color-checkbox-primary-label-active: var(--color-theme-text-primary-active);
  --color-checkbox-primary-label-disabled: #ffffff;
  --color-checkbox-primary-box-control-disabled: var(--color-theme-disabled-default);
  --color-checkbox-primary-box-control-border-disabled: var(--color-theme-disabled-default);
  --color-chip-primary-default: var(--color-theme-gray-50);
  --color-chip-primary-icon-default: var(--color-theme-gray-400);
  --color-chip-primary-icon-active: var(--color-theme-gray-500);
  --color-chip-primary-on-default: var(--color-theme-text-secondary-default);
  --color-counter-primary-default: var(--color-theme-gray-200);
  --color-counter-primary-on-default: var(--color-theme-white);
  --color-counter-primary-decrease-default: #ffffff;
  --color-counter-primary-increase-default: #ffffff;
  --color-file-upload-primary-on-default: var(--color-theme-text-secondary-default);
  --color-file-upload-primary-item-default: var(--color-theme-background-light-highlighted);
  --color-file-upload-primary-dropzone-default: var(--color-theme-background-light-highlighted);
  --color-file-upload-primary-dropzone-on-default: var(--color-theme-primary-default);
  --color-file-upload-primary-item-on-default: var(--color-theme-primary-default);
  --color-file-upload-primary-content-border-default: var(--color-theme-divider-dark-default);
  --color-file-upload-primary-content-on-default: var(--color-theme-text-secondary-default);
  --color-header-primary-default: var(--color-theme-primary-default);
  --color-header-primary-on-default: var(--color-theme-white);
  --color-header-primary-notification-badge-default: var(--color-theme-error-default);
  --color-header-primary-notification-badge-on-default: var(--color-theme-white);
  --color-icon-button-accent-default: var(--color-pallete-gray-200);
  --color-icon-button-accent-on-default: var(--color-theme-text-secondary-default);
  --color-icon-button-border-default: var(--color-pallete-gray-400);
  --color-loader-primary-track-default: var(--color-divider-primary-default);
  --color-loader-primary-range-disabled: var(--color-divider-primary-default);
  --color-loader-primary-range-default: var(--color-theme-primary-default);
  --color-loader-primary-buffer-from-default: var(--color-theme-primary-inverse-default);
  --color-loader-primary-buffer-to-default: var(--color-theme-primary-default);
  --color-loader-primary-on-default: var(--color-theme-accent-default);
  --color-markdown-editor-primary-border-default: var(--color-theme-primary-default);
  --color-modal-primary-backdrop-default: #323232;
  --color-modal-primary-default: var(--color-theme-background-primary-default);
  --color-select-primary-default: var(--color-theme-white);
  --color-select-primary-item-active: var(--color-pallete-gray-100);
  --color-select-primary-item-disabled: var(--color-theme-disabled-500);
  --color-select-primary-border-default: var(--color-theme-gray-100);
  --color-select-primary-on-default: var(--color-theme-text-primary-default);
  --color-select-primary-group-label-defult: var(--color-theme-text-secondary-default);
  --color-select-primary-divider-default: var(--color-divider-primary-default);
  --color-select-primary-group-label-border-default: var(--color-theme-gray-200);
  --color-select-primary-shadow-default: var(--color-theme-gray-100);
  --color-select-secondary-item-on-active: var(--color-theme-primary-default);
  --color-select-secondary-item-border-active: var(--color-theme-primary-400);
  --color-slider-primary-track-default: #ffffff;
  --color-slider-primary-range-default: var(--color-theme-primary-900);
  --color-slider-primary-range-disabled: var(--color-theme-primary-200);
  --color-slider-primary-thumb-default: var(--color-theme-white);
  --color-slider-primary-thumb-disabled: var(--color-theme-disabled-400);
  --color-slider-primary-thumb-outline-default: var(--color-button-secondary-default);
  --color-tabs-primary-tab-on-active: var(--color-theme-primary-default);
  --color-tabs-primary-tab-border-active: var(--color-theme-primary-default);
  --color-tabs-primary-tab-border-default: var(--color-divider-primary-default);
  --color-tabs-primary-tab-shadow-active: #000000;
  --color-tabs-primary-tab-on-default: var(--color-theme-text-primary-default);
  --color-icon-primary-default: var(--color-theme-gray-300);
  --color-icon-secondary-default: var(--color-theme-gray-800);
  --color-icon-secondary-100: var(--color-theme-primary-default);
}
