[data-fluid] {
  width: 100%;
}

:root {
  --scrollbar: #e5e5e5;
  --scrollbar-thumb: #cdcdcd;
  --scrollbar-thumb-hover: #b3b3b3;

  --width-scroll: var(--spacing-2);
}

[data-role='scroll-container'] {
  overflow: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: var(--width-scroll);
    background: var(--scrollbar);

    &::horizontal {
      border: none;
      border-top: 1px solid transparent;
    }
  }

  &::-webkit-scrollbar-corner {
    background: var(--color-theme-background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    background-clip: padding-box;

    &:hover {
      background-color: var(--scrollbar-thumb-hover);
    }

    &:active {
      background-color: var(--scrollbar-thumb-hover);
    }
  }
}

/* Method 1: Using ::-webkit-inner-spin-button and ::-webkit-outer-spin-button */
[data-arrows-hidden] {
  /* For Chrome, Safari, Edge, Opera */
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

[data-arrows-hidden]::-webkit-inner-spin-button,
[data-arrows-hidden]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Method 2: Using appearance and browser-specific selectors */
[data-arrows-hidden] {
  /* Modern browsers */
  appearance: textfield;

  /* Firefox */
  -moz-appearance: textfield;

  /* Safari and Chrome */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
  }
}

/* Method 3: Using [type="number"] selector */
input[type='number'].hide-spinners {
  -moz-appearance: textfield;
}

input[type='number'].hide-spinners::-webkit-outer-spin-button,
input[type='number'].hide-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
