.Container {
  width: 100%;
  height: 100%;
}

.ScrollContainer {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

.InnerScrollContainer {
  position: relative;
}

.ContainerWithItem {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 100%;
  padding: 0 12px;
  margin: 0;
  position: relative;
  z-index: 1;
  background: #fff;
  float: left; /* fix for element width */
}

.Element {
  margin-top: 3px;
  padding: 0 12px;
  list-style-type: none;
  white-space: nowrap;
  border-radius: var(--border-radius);
  color: #2f323a;
  background: #fff;
  display: flex;
  align-items: center;
  height: 20px;
  cursor: pointer;
  border: 1px solid #efefef;

  &:hover {
    background: #f5f5f5;
  }

  &__selected,
  &__selected:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color);
    color: var(--nav-accent-color) !important;
  }

  &__disabled,
  &__disabled:hover {
    background: #f0f0f0 !important;
    color: #d0d0d0 !important;
    cursor: default !important;
  }
}
