.idea
node_modules*
bower_components*
storybook-static*


*.swp
*.swo
*.swl
*.swn
*.swm
*.swk
*.swi
*.swj

.DS_Store
*.log
reports
coverage

lib
logs
dist

src/version.json
lerna-debug

.npmrc
.storybook/assets/output.css
.storybook/__snapshots__/__diff_output__/
coverage-ts