[data-scope='file-upload'][data-part='root'][data-style-tag='internal'] {
  flex: 1;
  width: 100%;
  min-height: 40px;
  padding: 0;

  [data-scope='button'][data-part='root'] {
    display: inline-block;
    background: var(--secondary-color);
    border-radius: 3px;
    padding: 0 16px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    color: #fff;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
  }
}
