[data-scope='chip'] {
  &[data-part='icon'] {
    display: flex;
    color: var(--color-chip-primary-icon-default);
    font-size: var(--text-xl);
    cursor: pointer;

    &:hover {
      color: var(--color-chip-primary-icon-active);
    }
  }

  &[data-part='root'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-chip-primary-default);
    border-radius: var(--radius-full);
    gap: var(--spacing-1-5);
    color: var(--color-chip-primary-on-default);
    padding: var(--spacing-2) var(--spacing-3);
  }
}
