.Container {
  display: flex;
  align-items: center;
  padding: 4px 12px 5px;
  height: 20px;
  color: var(--mainTabs-footer-color);
  background-color: var(--mainTabs-footer-bg);
  font-size: 10px;
  box-sizing: border-box;
}

.Version {
  font-weight: 700;
  padding-right: 5px;
}

.Copyright {
  font-size: 10px;
}

.Content {
  margin-left: auto;
}
