[data-scope='button'][data-part='root'][data-tag='icon-button'] {
  & img {
    width: var(--font-size-big);
    max-width: var(--font-size-big);
    max-height: var(--font-size-big);
    display: flex;
  }

  & span[data-scope='icon'] {
    font-size: var(--font-size-big);
  }

  & svg[data-scope='icon'] {
    width: var(--font-size-big);
    height: var(--font-size-big);
  }

  &[data-variant='accent'] {
    background: var(--color-icon-button-accent-default);
    color: var(--color-icon-button-accent-on-default);
    border-color: var(--color-icon-button-border-default);

    &:disabled {
      background: transparent;
    }
  }

  &[data-size='md'] {
    padding: var(--spacing-1-5) var(--spacing-2);
  }
}
