[data-scope='slider'] {
  &[data-part='root'] {
    width: 100%;
  }

  &[data-part='control'] {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: var(--spacing-5);

    &[data-orientation='horizontal'] {
      padding-top: var(--spacing-2-5);
      padding-bottom: var(--spacing-2-5);
    }

    &[data-orientation='vertical'] {
      padding-left: var(--spacing-2-5);
      padding-right: var(--spacing-2-5);
    }
  }

  &[data-part='info-container'] {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-2);
  }

  &[data-part='track'] {
    height: var(--spacing-1);
    flex: 1;
    background-color: var(--color-slider-primary-track-default);
    border-radius: var(--radius-full);
  }

  &[data-part='range'] {
    height: 100%;
    border-radius: var(--radius-full);
    background-color: var(--color-slider-primary-range-default);

    &[data-disabled] {
      background-color: var(--color-slider-primary-range-disabled);
    }
  }

  &[data-part='thumb'] {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    width: var(--spacing-5);
    height: var(--spacing-5);
    background-color: var(--color-slider-primary-thumb-default);

    &[data-disabled] {
      background-color: var(--color-slider-primary-thumb-disabled);
    }
  }

  &[data-part='thumb']:is(:focus, [data-focus]) {
    outline: 2px solid var(--color-slider-primary-thumb-outline-default);
  }
}
