@theme {
  --color-file-upload: var(--color-text-secondary);
  --color-file-upload-border: var(--color-dark-divider);
  --color-file-upload-item-bg: var(--color-light-highlighted-bg);
  --color-dropzone-bg: var(--color-light-highlighted-bg);
  --color-dropzone: var(--color-primary);
  --color-file-upload-item: var(--color-primary);
}

[data-scope='file-upload'] {
  &[data-part='content'] {
    --border: var(--color-file-upload-border);
    --text: var(--color-file-upload);
  }

  &[data-part='item-name'],
  &[data-part='item-size'] {
    --bg: var(--color-file-upload-item-bg);
    --text: var(--color-file-upload-item);
  }

  &[data-part='dropzone'] {
    --bg: var(--color-dropzone-bg);
    --text: var(--color-dropzone);
    --border-active: var(--color-dropzone);
  }
}
