.Container {
  padding: 10px 0 0 10px;

  &_centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* React-toolbox theme */
.circular {
  height: 60px;
  width: 60px;
}
