@theme {
  --color-red-50: rgb(255, 235, 238);
  --color-red-100: rgb(255, 205, 210);
  --color-red-200: rgb(239, 154, 154);
  --color-red-300: rgb(229, 115, 115);
  --color-red-400: rgb(239, 83, 80);
  --color-red-500: rgb(244, 67, 54);
  --color-red-600: rgb(229, 57, 53);
  --color-red-700: rgb(211, 47, 47);
  --color-red-800: rgb(198, 40, 40);
  --color-red-900: rgb(183, 28, 28);
  --color-red-a100: rgb(255, 138, 128);
  --color-red-a200: rgb(255, 82, 82);
  --color-red-a400: rgb(255, 23, 68);
  --color-red-a700: rgb(213, 0, 0);

  --color-pink-50: rgb(252, 228, 236);
  --color-pink-100: rgb(248, 187, 208);
  --color-pink-200: rgb(244, 143, 177);
  --color-pink-300: rgb(240, 98, 146);
  --color-pink-400: rgb(236, 64, 122);
  --color-pink-500: rgb(233, 30, 99);
  --color-pink-600: rgb(216, 27, 96);
  --color-pink-700: rgb(194, 24, 91);
  --color-pink-800: rgb(173, 20, 87);
  --color-pink-900: rgb(136, 14, 79);
  --color-pink-a100: rgb(255, 128, 171);
  --color-pink-a200: rgb(255, 64, 129);
  --color-pink-a400: rgb(245, 0, 87);
  --color-pink-a700: rgb(197, 17, 98);

  --color-purple-50: rgb(243, 229, 245);
  --color-purple-100: rgb(225, 190, 231);
  --color-purple-200: rgb(206, 147, 216);
  --color-purple-300: rgb(186, 104, 200);
  --color-purple-400: rgb(171, 71, 188);
  --color-purple-500: rgb(156, 39, 176);
  --color-purple-600: rgb(142, 36, 170);
  --color-purple-700: rgb(123, 31, 162);
  --color-purple-800: rgb(106, 27, 154);
  --color-purple-900: rgb(74, 20, 140);
  --color-purple-a100: rgb(234, 128, 252);
  --color-purple-a200: rgb(224, 64, 251);
  --color-purple-a400: rgb(213, 0, 249);
  --color-purple-a700: rgb(170, 0, 255);

  --color-deep-purple-50: rgb(237, 231, 246);
  --color-deep-purple-100: rgb(209, 196, 233);
  --color-deep-purple-200: rgb(179, 157, 219);
  --color-deep-purple-300: rgb(149, 117, 205);
  --color-deep-purple-400: rgb(126, 87, 194);
  --color-deep-purple-500: rgb(103, 58, 183);
  --color-deep-purple-600: rgb(94, 53, 177);
  --color-deep-purple-700: rgb(81, 45, 168);
  --color-deep-purple-800: rgb(69, 39, 160);
  --color-deep-purple-900: rgb(49, 27, 146);
  --color-deep-purple-a100: rgb(179, 136, 255);
  --color-deep-purple-a200: rgb(124, 77, 255);
  --color-deep-purple-a400: rgb(101, 31, 255);
  --color-deep-purple-a700: rgb(98, 0, 234);

  --color-indigo-50: rgb(232, 234, 246);
  --color-indigo-100: rgb(197, 202, 233);
  --color-indigo-200: rgb(159, 168, 218);
  --color-indigo-300: rgb(121, 134, 203);
  --color-indigo-400: rgb(92, 107, 192);
  --color-indigo-500: rgb(63, 81, 181);
  --color-indigo-600: rgb(57, 73, 171);
  --color-indigo-700: rgb(48, 63, 159);
  --color-indigo-800: rgb(40, 53, 147);
  --color-indigo-900: rgb(26, 35, 126);
  --color-indigo-a100: rgb(140, 158, 255);
  --color-indigo-a200: rgb(83, 109, 254);
  --color-indigo-a400: rgb(61, 90, 254);
  --color-indigo-a700: rgb(48, 79, 254);

  --color-blue-50: rgb(227, 242, 253);
  --color-blue-100: rgb(187, 222, 251);
  --color-blue-200: rgb(144, 202, 249);
  --color-blue-300: rgb(100, 181, 246);
  --color-blue-400: rgb(66, 165, 245);
  --color-blue-500: rgb(33, 150, 243);
  --color-blue-600: rgb(30, 136, 229);
  --color-blue-700: rgb(25, 118, 210);
  --color-blue-800: rgb(21, 101, 192);
  --color-blue-900: rgb(13, 71, 161);
  --color-blue-a100: rgb(130, 177, 255);
  --color-blue-a200: rgb(68, 138, 255);
  --color-blue-a400: rgb(41, 121, 255);
  --color-blue-a700: rgb(41, 98, 255);

  --color-light-blue-50: rgb(225, 245, 254);
  --color-light-blue-100: rgb(179, 229, 252);
  --color-light-blue-200: rgb(129, 212, 250);
  --color-light-blue-300: rgb(79, 195, 247);
  --color-light-blue-400: rgb(41, 182, 246);
  --color-light-blue-500: rgb(3, 169, 244);
  --color-light-blue-600: rgb(3, 155, 229);
  --color-light-blue-700: rgb(2, 136, 209);
  --color-light-blue-800: rgb(2, 119, 189);
  --color-light-blue-900: rgb(1, 87, 155);
  --color-light-blue-a100: rgb(128, 216, 255);
  --color-light-blue-a200: rgb(64, 196, 255);
  --color-light-blue-a400: rgb(0, 176, 255);
  --color-light-blue-a700: rgb(0, 145, 234);

  --color-cyan-50: rgb(224, 247, 250);
  --color-cyan-100: rgb(178, 235, 242);
  --color-cyan-200: rgb(128, 222, 234);
  --color-cyan-300: rgb(77, 208, 225);
  --color-cyan-400: rgb(38, 198, 218);
  --color-cyan-500: rgb(0, 188, 212);
  --color-cyan-600: rgb(0, 172, 193);
  --color-cyan-700: rgb(0, 151, 167);
  --color-cyan-800: rgb(0, 131, 143);
  --color-cyan-900: rgb(0, 96, 100);
  --color-cyan-a100: rgb(132, 255, 255);
  --color-cyan-a200: rgb(24, 255, 255);
  --color-cyan-a400: rgb(0, 229, 255);
  --color-cyan-a700: rgb(0, 184, 212);

  --color-teal-50: rgb(224, 242, 241);
  --color-teal-100: rgb(178, 223, 219);
  --color-teal-200: rgb(128, 203, 196);
  --color-teal-300: rgb(77, 182, 172);
  --color-teal-400: rgb(38, 166, 154);
  --color-teal-500: rgb(0, 150, 136);
  --color-teal-600: rgb(0, 137, 123);
  --color-teal-700: rgb(0, 121, 107);
  --color-teal-800: rgb(0, 105, 92);
  --color-teal-900: rgb(0, 77, 64);
  --color-teal-a100: rgb(167, 255, 235);
  --color-teal-a200: rgb(100, 255, 218);
  --color-teal-a400: rgb(29, 233, 182);
  --color-teal-a700: rgb(0, 191, 165);

  --color-green-50: rgb(232, 245, 233);
  --color-green-100: rgb(200, 230, 201);
  --color-green-200: rgb(165, 214, 167);
  --color-green-300: rgb(129, 199, 132);
  --color-green-400: rgb(102, 187, 106);
  --color-green-500: rgb(76, 175, 80);
  --color-green-600: rgb(67, 160, 71);
  --color-green-700: rgb(56, 142, 60);
  --color-green-800: rgb(46, 125, 50);
  --color-green-900: rgb(27, 94, 32);
  --color-green-a100: rgb(185, 246, 202);
  --color-green-a200: rgb(105, 240, 174);
  --color-green-a400: rgb(0, 230, 118);
  --color-green-a700: rgb(0, 200, 83);

  --color-light-green-50: rgb(241, 248, 233);
  --color-light-green-100: rgb(220, 237, 200);
  --color-light-green-200: rgb(197, 225, 165);
  --color-light-green-300: rgb(174, 213, 129);
  --color-light-green-400: rgb(156, 204, 101);
  --color-light-green-500: rgb(139, 195, 74);
  --color-light-green-600: rgb(124, 179, 66);
  --color-light-green-700: rgb(104, 159, 56);
  --color-light-green-800: rgb(85, 139, 47);
  --color-light-green-900: rgb(51, 105, 30);
  --color-light-green-a100: rgb(204, 255, 144);
  --color-light-green-a200: rgb(178, 255, 89);
  --color-light-green-a400: rgb(118, 255, 3);
  --color-light-green-a700: rgb(100, 221, 23);

  --color-lime-50: rgb(249, 251, 231);
  --color-lime-100: rgb(240, 244, 195);
  --color-lime-200: rgb(230, 238, 156);
  --color-lime-300: rgb(220, 231, 117);
  --color-lime-400: rgb(212, 225, 87);
  --color-lime-500: rgb(205, 220, 57);
  --color-lime-600: rgb(192, 202, 51);
  --color-lime-700: rgb(175, 180, 43);
  --color-lime-800: rgb(158, 157, 36);
  --color-lime-900: rgb(130, 119, 23);
  --color-lime-a100: rgb(244, 255, 129);
  --color-lime-a200: rgb(238, 255, 65);
  --color-lime-a400: rgb(198, 255, 0);
  --color-lime-a700: rgb(174, 234, 0);

  --color-yellow-50: rgb(255, 253, 231);
  --color-yellow-100: rgb(255, 249, 196);
  --color-yellow-200: rgb(255, 245, 157);
  --color-yellow-300: rgb(255, 241, 118);
  --color-yellow-400: rgb(255, 238, 88);
  --color-yellow-500: rgb(255, 235, 59);
  --color-yellow-600: rgb(253, 216, 53);
  --color-yellow-700: rgb(251, 192, 45);
  --color-yellow-800: rgb(249, 168, 37);
  --color-yellow-900: rgb(245, 127, 23);
  --color-yellow-a100: rgb(255, 255, 141);
  --color-yellow-a200: rgb(255, 255, 0);
  --color-yellow-a400: rgb(255, 234, 0);
  --color-yellow-a700: rgb(255, 214, 0);

  --color-amber-50: rgb(255, 248, 225);
  --color-amber-100: rgb(255, 236, 179);
  --color-amber-200: rgb(255, 224, 130);
  --color-amber-300: rgb(255, 213, 79);
  --color-amber-400: rgb(255, 202, 40);
  --color-amber-500: rgb(255, 193, 7);
  --color-amber-600: rgb(255, 179, 0);
  --color-amber-700: rgb(255, 160, 0);
  --color-amber-800: rgb(255, 143, 0);
  --color-amber-900: rgb(255, 111, 0);
  --color-amber-a100: rgb(255, 229, 127);
  --color-amber-a200: rgb(255, 215, 64);
  --color-amber-a400: rgb(255, 196, 0);
  --color-amber-a700: rgb(255, 171, 0);

  --color-orange-50: rgb(255, 243, 224);
  --color-orange-100: rgb(255, 224, 178);
  --color-orange-200: rgb(255, 204, 128);
  --color-orange-300: rgb(255, 183, 77);
  --color-orange-400: rgb(255, 167, 38);
  --color-orange-500: rgb(255, 152, 0);
  --color-orange-600: rgb(251, 140, 0);
  --color-orange-700: rgb(245, 124, 0);
  --color-orange-800: rgb(239, 108, 0);
  --color-orange-900: rgb(230, 81, 0);
  --color-orange-a100: rgb(255, 209, 128);
  --color-orange-a200: rgb(255, 171, 64);
  --color-orange-a400: rgb(255, 145, 0);
  --color-orange-a700: rgb(255, 109, 0);

  --color-deep-orange-50: rgb(251, 233, 231);
  --color-deep-orange-100: rgb(255, 204, 188);
  --color-deep-orange-200: rgb(255, 171, 145);
  --color-deep-orange-300: rgb(255, 138, 101);
  --color-deep-orange-400: rgb(255, 112, 67);
  --color-deep-orange-500: rgb(255, 87, 34);
  --color-deep-orange-600: rgb(244, 81, 30);
  --color-deep-orange-700: rgb(230, 74, 25);
  --color-deep-orange-800: rgb(216, 67, 21);
  --color-deep-orange-900: rgb(191, 54, 12);
  --color-deep-orange-a100: rgb(255, 158, 128);
  --color-deep-orange-a200: rgb(255, 110, 64);
  --color-deep-orange-a400: rgb(255, 61, 0);
  --color-deep-orange-a700: rgb(221, 44, 0);

  --color-brown-50: rgb(239, 235, 233);
  --color-brown-100: rgb(215, 204, 200);
  --color-brown-200: rgb(188, 170, 164);
  --color-brown-300: rgb(161, 136, 127);
  --color-brown-400: rgb(141, 110, 99);
  --color-brown-500: rgb(121, 85, 72);
  --color-brown-600: rgb(109, 76, 65);
  --color-brown-700: rgb(93, 64, 55);
  --color-brown-800: rgb(78, 52, 46);
  --color-brown-900: rgb(62, 39, 35);

  --color-grey-50: rgb(250, 250, 250);
  --color-grey-100: rgb(245, 245, 245);
  --color-grey-200: rgb(238, 238, 238);
  --color-grey-300: rgb(224, 224, 224);
  --color-grey-400: rgb(189, 189, 189);
  --color-grey-500: rgb(158, 158, 158);
  --color-grey-600: rgb(117, 117, 117);
  --color-grey-700: rgb(97, 97, 97);
  --color-grey-800: rgb(66, 66, 66);
  --color-grey-900: rgb(33, 33, 33);

  --color-blue-grey-50: rgb(236, 239, 241);
  --color-blue-grey-100: rgb(207, 216, 220);
  --color-blue-grey-200: rgb(176, 190, 197);
  --color-blue-grey-300: rgb(144, 164, 174);
  --color-blue-grey-400: rgb(120, 144, 156);
  --color-blue-grey-450: rgb(132, 132, 132);
  --color-blue-grey-500: rgb(96, 125, 139);
  --color-blue-grey-600: rgb(84, 110, 122);
  --color-blue-grey-700: rgb(69, 90, 100);
  --color-blue-grey-800: rgb(55, 71, 79);
  --color-blue-grey-900: rgb(38, 50, 56);

  --color-dark-contrast: var(--color-white);
  --color-light-contrast: var(--color-black);
}
