@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/utilities' layer(utilities);
@import './utilities';

@import './recipes';
@import './colors.css';

@theme {
  --color-divider: var(--color-grey-200);
  --color-background: var(--color-white);
  --color-background-inverse: var(--color-black);

  --color-text: var(--color-grey-900);
  --color-text-secondary: var(--color-grey-600);

  --color-text-inverse: var(--color-white);

  --color-primary: var(--color-indigo-500);
  --color-primary-dark: var(--color-indigo-700);
  --color-accent: var(--color-pink-a200);
  --color-accent-dark: var(--color-pink-700);
  --color-primary-contrast: var(--color-dark-contrast);
  --color-accent-contrast: var(--color-dark-contrast);

  --unit: 1rem;

  --preferred-font: 'Roboto', 'Helvetica', 'Arial', sans-serif;

  --font-size-2xl: 1.4rem;

  --radius-sm: 0.188rem;

  --container-4xs: 12rem;
  --container-5xs: 8rem;

  --size-xl: var(--container-xl);
  --size-2xl: var(--container-2xl);
  --size-3xl: var(--container-3xl);
  --size-5xs: var(--container-5xs);
  --size-4xs: var(--container-4xs);
  --size-3xs: var(--container-3xs);
  --size-2xs: var(--container-2xs);
  --size-xs: var(--container-xs);
  --size-sm: var(--container-sm);
  --size-md: var(--container-md);
  --size-lg: var(--container-lg);

  --height-xl: var(--container-xl);
  --height-2xl: var(--container-2xl);
  --height-3xl: var(--container-3xl);
  --height-5xs: var(--container-5xs);
  --height-4xs: var(--container-4xs);
  --height-3xs: var(--container-3xs);
  --height-2xs: var(--container-2xs);
  --height-xs: var(--container-xs);
  --height-sm: var(--container-sm);
  --height-md: var(--container-md);
  --height-lg: var(--container-lg);

  --font-weight-thin: 300;
  --font-weight-normal: 400;
  --font-weight-semi-bold: 500;
  --font-weight-bold: 700;

  --font-size-full: 100%;

  --shadow-2p: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0
    rgba(0, 0, 0, 0.12);

  --shadow-3p: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0
    rgba(0, 0, 0, 0.12);

  --shadow-4p: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px
    rgba(0, 0, 0, 0.2);

  --shadow-6p: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px
    rgba(0, 0, 0, 0.2);

  --shadow-8p: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px
    -3px rgba(0, 0, 0, 0.2);

  --shadow-16p: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px
    -5px rgba(0, 0, 0, 0.2);

  --shadow-key-umbra-opacity: 0.2;
  --shadow-key-penumbra-opacity: 0.14;
  --shadow-ambient-shadow-opacity: 0.12;

  --zdepth-shadow-1: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  --zdepth-shadow-2: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  --zdepth-shadow-3: 0 10px 30px rgba(0, 0, 0, 0.19), 0 6px 10px rgba(0, 0, 0, 0.23);
  --zdepth-shadow-4: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  --zdepth-shadow-5: 0 19px 60px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);

  --animation-duration: 0.35s;
  --gradual-coloring-tab: 0.35s;
  --animation-delay: calc(var(--animation-duration) / 5);
  --animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
  --animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
  --animation-curve-default: var(--animation-curve-fast-out-slow-in);

  --z-index-highest: 300;
  --z-index-higher: 200;
  --z-index-high: 100;
  --z-index-normal: 1;
  --z-index-low: -100;
  --z-index-lower: -200;

  --z-index-pagination-container: 12;
  --z-index-pagination-container-active: 13;
  --z-index-baseCard-emptyEventLayer: 14;
  --z-index-react-grid-item-resizing: 14;
  --z-index-react-draggable-dragging: 14;
  --z-index-grid-modification-info: 14;
  --z-index-card-CardToolbar: 16;
  --z-index-baseCard-settingsToolbar: 17;
  --z-index-context-menu: 5000;

  --z-index-tooltip: 10001;
  --z-index-global-loader: 9999;

  /* main */
  --color-text-primary: #212121;
  --color-text-secondary: #595959;
  --color-dark-divider: #e8e8e8;
  --color-light-highlighted-bg: #f6f6f6;

  /* button */
  --Button-warning-bg: #d12a2d;
  --Button-warning-color: #f0f6fc;
  --Button-warning-hover: #de5356;
  --Button-gray-bg: #f0f0f0;
  --Button-gray-color: #595959;
  --Button-gray-bg-hover: #e7e7e7;
  --Button-accent-bg: #44b991;
  --Button-accent-color: #f0f6fc;
  --Button-accent-bg-hover: #2da274;
  --Button-primary-color: #2da274;
  --Button-primary-bg-hover: rgba(45, 162, 116, 0.1);
  --Button-neutral-bg-hover: rgba(33, 33, 33, 0.2);
  --Button-disabled-bg: #f0f0f0;
  --Button-disabled-color: #c9c9c9;
  --Button-disabled-bg-hover: #f0f0f0;

  /* ButtonMenu */
  --ButtonMenu-buttonText-color: #767676;

  /* driveLanding */
  --driveLanding-leftPanel-bg: #44b991;

  /* SelectBox */
  --SelectBox-arrow-bg: #b1bac4;
  --SelectBox-values-bg: #ffffff;
  --SelectBox-values-selected-color: #8068bc;
  --SelectBox-values-hover-bg: #eeeeee;
  --SelectBox-values-disabled-color: #8b949e;

  /* Checkbox */
  --Checkbox-color: #c1c1c1;
  --Checkbox-color-disabled: #d8d8d8;
  --Checkbox-text-color: #595959;

  /* header */
  --header-bg: #44b991;
  --header-color: #ffffff;

  /* tabs */
  --tab-header-dropdown-bg: #e8e8e8;
  --tab-header-dropdown-hover-bg: #dddddd;
  --tab-header-button-color: #767676;
  --tab-header-button-border: #e8e8e8;
  --tab-header-button-active-border: #44b991;
  --tab-header-button-focus-border: rgba(0, 0, 0, 0.2);
  --tab-header-button-active-color: #44b991;

  --tab-content-bg: #ffffff;

  /* rc-dropdown */
  --rc-dropdown-menu-bg: #ffffff;

  /* ContextMenu */
  --contextMenu-element-hover: #dddddd;

  /* HeaderMenu */
  --headerMenu-subMenu-bg: #ffffff;
  --headerMenu-subMenu-shadow: rgba(24, 26, 31, 0.2);
  --headerMenu-subMenu-border: #44b991;
  --headerMenu-subMenu-menuItem-hover: rgba(0, 0, 0, 0.1);

  /* Modal */
  --Modal-bg: #ffffff;
  --Modal-title-color: #1c1c1c;
  --Modal-overlay-bg: #32323233;

  --toolbar-icon-color: #9d9d9d;

  --border-radius: 3px;
}
