@theme {
  --body-bg: #ffffff;
  --scrollbar: #e5e5e5;
  --scrollbar-thumb: #cdcdcd;
  --scrollbar-thumb-hover: #b3b3b3;

  --width-scroll: calc(0.75 * var(--unit));
}

::-webkit-scrollbar {
  width: var(--width-scroll);
  background: var(--scrollbar);

  &::horizontal {
    border: none;
    border-top: 1px solid transparent;
  }
}

::-webkit-scrollbar-corner {
  background: var(--body-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  background-clip: padding-box;

  &:hover {
    background-color: var(--scrollbar-thumb-hover);
  }

  &:active {
    background-color: var(--scrollbar-thumb-hover);
  }
}
