:root {
  --color-editable-trigger-bg: var(--color-primary);
  --color-editable-trigger-bg-hover: var(--color-primary-dark);
  --color-editable-submit-trigger-bg: var(--color-accent);
  --color-editable-submit-trigger-bg-hover: var(--color-accent-dark);
}

[data-scope='editable'][data-part='root'] {
  width: 300px;
}

[data-scope='editable'][data-part='area'] {
  margin-bottom: 0.75rem;
}

[data-scope='editable'][data-part='input'] {
  background: transparent;
  &[data-autoresize] {
    all: unset;
  }
}

[data-scope='editable'][data-part='input']:focus {
  outline: 2px solid hsl(204, 100%, 40%);
}
