:root {
  --color-editable-trigger-bg: var(--color-primary);
  --color-editable-trigger-bg-hover: var(--color-primary-dark);
  --color-editable-submit-trigger-bg: var(--color-accent);
  --color-editable-submit-trigger-bg-hover: var(--color-accent-dark);
}

[data-scope='editable'][data-part='root'] {
  width: 300px;
}

[data-scope='editable'][data-part='area'] {
  margin-bottom: var(--spacing-3);

  &[data-invalid] {
    border: 1px solid red;
  }
}

[data-scope='editable'][data-part='input'] {
  background: transparent;

  &:focus {
    outline: 2px solid hsl(204, 100%, 40%);
  }

  &[data-autoresize] {
    all: unset;
  }

  &[data-invalid] {
    border: 1px solid red;
  }
}

[data-scope='editable'][data-part='label'] {
  &[data-invalid] {
    color: red;
  }
}

[data-scope='editable']:has(input[required]) [data-scope='editable'][data-part='label']::after {
  content: '*';
  color: red;
}
