[data-scope='date-picker'] {
  &[data-part='view-control'] {
    padding-top: var(--spacing-2-5);
    padding-left: var(--spacing-1-5);
    padding-right: var(--spacing-1-5);
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &[data-part='header-months'] {
    text-transform: capitalize;
  }

  &[data-part='header-years'] {
    display: inline-block;
    font-size: var(--spacing-3-5);
    opacity: 0.6;
    line-height: var(--spacing-4);
  }

  &[data-part='header'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-calendar-primary-header-default);
    color: var(--color-calendar-primary-header-on-default);
    padding: var(--spacing-6);
    padding-left: var(--spacing-8);
    padding-right: var(--spacing-8);
  }

  &[data-part='content'] {
    width: var(--spacing-80);
    font-size: var(--spacing-6);
    height: var(--spacing-96);
    line-height: var(--spacing-9);
    position: relative;
    text-align: center;
  }

  &[data-part='range-text'] {
    display: inline-block;
    font-weight: var(--font-weight-medium);
    line-height: var(--spacing-9);
  }

  &[data-part='table'] {
    width: 100%;
  }

  &[data-part='table-header'] {
    font-size: var(--spacing-3-5);
    height: var(--spacing-9);
    line-height: var(--spacing-9);
    opacity: 0.5;
  }

  &[data-part='table-body'] {
    cursor: pointer;
  }

  &[data-part='table-cell-trigger'] {
    width: var(--spacing-9);
    height: var(--spacing-9);
    border-radius: var(--spacing-8);
    display: inline-block;
    background-color: var(--color-calendar-primary-item-default);

    &[data-selected],
    &:hover {
      background-color: var(--color-calendar-primary-item-selected-default);
      color: var(--color-calendar-primary-item-selected-on-default);
    }
  }

  &[data-part='footer'] {
    flex-grow: 0;
    padding: var(--spacing-2);
    text-align: right;
  }

  &[data-part='weekday'] {
    font-weight: var(--font-weight-normal);
  }
}
