.Notification {
  position: relative;
  margin-right: 3px;
  padding: 5px;
  cursor: pointer;
}

.Active .NotificationIcon svg path:nth-child(1) {
  fill: var(--color-white);
}

.NotificationIcon {
  div {
    display: flex;
    align-items: center;
  }

  svg {
    height: 18px;
    width: 18px;

    path:nth-child(1) {
      fill: transparent;
    }
  }

  &:hover {
    opacity: 0.7;
    transition: opacity 0.6s ease;
  }
}
