[data-scope='menu'][data-part='positioner'][data-tag='internal'] {
  [data-scope='menu'][data-part='content'] {
    max-height: unset !important;
    width: unset !important;
    overflow-y: unset !important;
  }

  /* стрелочка */
  [data-scope='font-icon'][data-part='root'][data-tag='submenu-icon'] {
    font-size: 18px;
    position: absolute;
    right: 5px;
  }
}

[data-scope='menu'][data-part='item'],
[data-scope='menu'][data-part='trigger-item'],
[data-scope='menu'][data-part='trigger'] {
  position: relative;
  font-size: 0.75rem;

  & > span {
    line-height: 18px;

    & > [data-scope='icon'] {
      width: 14px;
      height: 14px;
      left: 12px;
    }
  }
}
