[data-scope='radio-group'][data-part='root'] {
  display: block;

  & [data-disabled] {
    cursor: auto;
    opacity: 0.6;

    &::before {
      display: none;
    }
  }
}

[data-scope='radio-group'][data-part='item'] {
  display: flex;
  width: fit-content;
  /* calc(2 * 10px) = 20px = 1.25rem = var(--spacing-5) */
  height: var(--spacing-5);
  /* calc(1.5 * 10px) = 15px = 0.938rem ≈ var(--spacing-4) */
  margin-bottom: var(--spacing-4);
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}

[data-scope='radio-group'][data-part='control'] {
  border: var(--spacing-1) var(--color-radio-group-primary-control-border-default) solid;
  border-radius: 50%;
  display: inline-block;
  width: var(--spacing-4);
  height: var(--spacing-4);

  outline: 0 var(--color-radio-group-primary-control-border-default) solid;

  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  font-family: var(--preferred);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  background-color: var(--color-radio-group-primary-control-default);

  &[data-state='checked'] {
    outline-color: var(--color-radio-group-primary-control-border-checked);
    outline-width: var(--spacing-0-5);
    background-color: var(--color-radio-group-primary-control-checked);
  }

  &[data-state='checked'][data-disabled] {
    outline-color: var(--color-radio-group-primary-control-border-disabled);
    outline-width: var(--spacing-0-5);
  }
}

[data-scope='radio-group'][data-part='text'] {
  color: var(--color-radio-group-primary-control-on-default);
  font-size: var(--spacing-3-5);
  display: inline-block;
  line-height: var(--spacing-5);
  padding-left: var(--spacing-2-5);
  vertical-align: top;
  white-space: nowrap;

  &[data-disabled='true'] {
    color: var(--color-radio-group-primary-control-on-default);
  }
}
