:root {
  --box-shadow-menu: 0 0 4px #d9d9d9;
  --color-menu: #666;
  --color-menu-bg: var(--color-white);
  --color-menu-border: #d9d9d9;
  --color-menu-group-label: #999;
  --color-menu-group-label-border: #dedede;
  --color-menu-divider: #e5e5e5;
  --color-menu-item-active-bg: #eaf8fe;
  --color-menu-item-disabled: #a7a7a7;
  --color-menu-horizontal-item-active-bg: #f3f5f7;
  --color-menu-horizontal-item-border-active: #2db7f5;
  --color-menu-horizontal-item-active: #2baee9;
}

[data-scope='menu'],
[data-scope='select'] {
  &[data-part='content'] {
    --shadow: var(--box-shadow-menu);
    --text: var(--color-menu);
    --bg: var(--color-menu-bg);
    --border: var(--color-menu-border);
  }

  &[data-part='list'] {
    &[data-orientation='horizontal'] {
      & [data-scope='menu'][data-part='item'] {
        border-bottom: 2px solid transparent;

        &[data-highlighted] {
          color: var(--color-menu-horizontal-item-active);
          border-color: var(--color-menu-horizontal-item-border-active);
          background-color: var(--color-menu-horizontal-item-active-bg);
        }
      }
    }
  }

  &[data-part='item-group-label'] {
    --text: var(--color-menu-group-label);
    --border: var(--color-menu-group-label-border);
  }

  &[data-part='separator'] {
    --text: var(--color-menu-divider);
  }

  &[data-part='item'],
  &[data-part='trigger-item'] {
    --bg-hover: var(--color-menu-item-active-bg);
    --text-disabled: var(--color-menu-item-disabled);
  }

  &[data-part='positioner'][data-tag='sub-menu'] {
    z-index: var(--z-index-highest) !important;
  }

  &[data-part='content'] {
    height: auto;
    width: auto;
    border-width: var(--size-px);
    border-style: solid;
    border-color: var(--border);
    background-color: var(--bg);
    box-shadow: var(--shadow);
    border-radius: var(--radius-sm);
    font-size: var(--text-md);
    outline: none;
    font-weight: normal;
  }

  &[data-part='content'][data-size='sm'] {
    width: var(--size-5xs);
    height: var(--size-2xs);
  }

  &[data-part='content'][data-size='md'] {
    width: var(--size-xs);
    height: var(--size-sm);
  }

  &[data-part='content'][data-size='md'][data-orientation='horizontal'] {
    height: auto;
    width: var(--size-sm);
  }

  &[data-part='list'] {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    list-style: none;
  }

  &[data-part='content'][data-orientation='horizontal'] > [data-part='list'] {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: scroll;
  }

  &[data-part='content'][data-orientation='vertical'] > [data-part='list'] {
    overflow-y: scroll;
  }

  &[data-part='group-label'] {
    padding: var(--spacing-2) var(--spacing-2-5);
    border-bottom-width: var(--size-px);
    border-bottom-style: solid;
    border-color: var(--border);
    background-color: var(--bg);
    box-shadow: var(--shadow);
    color: var(--text-primary);
    font-weight: bold;
  }

  &[data-part='separator'] {
    height: var(--size-px);
    margin-top: var(--size-px);
    margin-bottom: var(--size-px);
    color: var(--text);
  }

  &[data-part='item'],
  &[data-part='trigger-item'] {
    padding: var(--spacing-2) var(--spacing-3);
    cursor: pointer;
    user-select: none;
    display: flex;
    gap: var(--spacing-1);
    align-items: center;
    justify-content: flex-start;

    &[data-highlighted] {
      background-color: var(--bg-hover);
    }

    &[data-disabled] {
      color: var(--text-disabled);
      cursor: default;
    }
  }
}
