:root {
  --color-black: #010409;
  --color-white: #f0f6fc;

  --color-gray-0: #f0f0f0;
  --color-gray-1: #d9d9d9;
  --color-gray-2: #c0c0c0;
  --color-gray-3: #a7a7a7;
  --color-gray-4: #949494;
  --color-gray-5: #818181;
  --color-gray-6: #797979;
  --color-gray-7: #6e6e6e;
  --color-gray-8: #646464;
  --color-gray-9: #515151;

  --color-primary: #ffa500;
  --color-primary-0: #fff4e0;
  --color-primary-1: #ffe4b3;
  --color-primary-2: #ffd280;
  --color-primary-3: #ffc04d;
  --color-primary-4: #ffb326;
  --color-primary-5: #ffa500;
  --color-primary-6: #ff9d00;
  --color-primary-7: #ff9300;
  --color-primary-8: #ff8a00;
  --color-primary-9: #ff7900;

  --color-accent: #ffa500;
  --color-accent-0: #fff4e0;
  --color-accent-1: #ffe4b3;
  --color-accent-2: #ffd280;
  --color-accent-3: #ffc04d;
  --color-accent-4: #ffb326;
  --color-accent-5: #ffa500;
  --color-accent-6: #ff9d00;
  --color-accent-7: #ff9300;
  --color-accent-8: #ff8a00;
  --color-accent-9: #ff7900;

  --color-secondary: #ffce4a;
  --color-secondary-0: #fff9e9;
  --color-secondary-1: #fff0c9;
  --color-secondary-2: #ffe7a5;
  --color-secondary-3: #ffdd80;
  --color-secondary-4: #ffd565;
  --color-secondary-5: #ffce4a;
  --color-secondary-6: #ffc943;
  --color-secondary-7: #ffc23a;
  --color-secondary-8: #ffbc32;
  --color-secondary-9: #ffb022;

  --color-scrollbar: #e5e5e5;
  --color-scrollbar-thumb: #cdcdcd;
  --color-scrollbar-thumb-hover: #b3b3b3;

  --color-input-bg: #ffffff;
  --color-input-border: #b1bac4;
  --color-input-border-focus: #757474;
  --color-input-text: #595959;
  --color-body-bg: #ffffff;
  --color-caret: #000000;
  --color-accent-highlight-bg: #fff5cc;
  --color-light-highlight-bg: #f6f6f6;
  --color-dark-highlight-bg: #d2d2d2;
  --color-text-primary: #212121;
  --color-text-secondary: #595959;
  --color-divider-dark: #e8e8e8;
  --color-divider-light: #e0e0e0;

  --color-button-warning-bg: #d12a2d;
  --color-button-warning-text: #f0f6fc;
  --color-button-warning-hover: #de5356;
  --color-button-gray-bg: #f0f0f0;
  --color-button-gray-text: #595959;
  --color-button-gray-hover-bg: #e7e7e7;
  --color-button-gray-border: #d1d1d1;
  --color-button-accent-bg: #ffa500;
  --color-button-accent-text: #f0f6fc;
  --color-button-accent-hover-bg: #d48c00;
  --color-button-primary: #ffa500;
  --color-button-primary-hover-bg: rgba(255, 165, 0, 0.1);
  --color-button-neutral: #595959;
  --color-button-neutral-hover-bg: rgba(33, 33, 33, 0.2);
  --color-button-disabled-bg: #f0f0f0;
  --color-button-disabled-text: #c9c9c9;
  --color-button-disabled-hover-bg: #f0f0f0;

  --color-button-menu-text: #767676;

  --color-drive-landing-bg: #ffffff;
  --color-drive-landing-panel-left-bg: #ffa500;
  --color-drive-landing-panel-left-text: #ffffff;
  --color-drive-landing-divider: #ffffff;
  --color-drive-landing-workspace-link-line-bg: #ffffff;
  --color-drive-landing-folder: #ffce4a;
  --color-drive-landing-folder-hover: #cfa93b;
  --color-drive-landing-header-tab-bg: #f5f5f5;
  --color-drive-landing-header-tab-hover-bg: #eeeeee;
  --color-drive-landing-header-tab-active-bg: #ffa500;
  --color-drive-landing-header-tab-active-text: #ffffff;
  --color-drive-landing-tags: #929191;
  --color-drive-landing-tags-border: #ffa500;
  --color-drive-landing-tags-border-hover: #ffa500;
  --color-drive-landing-tags-personal: #ffa500;

  --color-model-row-rename-bg: #f0f0f0;
  --color-model-row-hover-bg: #f0f0f0;
  --color-model-card-border: #dcdcdc;
  --color-model-card-border-hover: #ffa500;
  --color-model-icon: #ffa500;
  --color-model-name: #212121;
  --color-model-size: #a2a2a2;
  --color-model-date: #c7c7c7;
  --color-model-date-offline: #212121;
  --color-model-status: #212121;
  --color-model-offline-bg: rgba(0, 0, 0, 0.2);
  --color-model-delete-bg: #727272;

  --color-select-box-border: #b1bac4;
  --color-select-box-arrow-bg: #b1bac4;
  --color-select-box-values-bg: #ffffff;
  --color-select-box-values-selected: #f49f02;
  --color-select-box-values-hover-bg: #eeeeee;
  --color-select-box-values-disabled: #8b949e;

  --color-checkbox: #c1c1c1;
  --color-checkbox-disabled: #d8d8d8;
  --color-checkbox-text: #595959;

  --color-header-bg: #ffa500;
  --color-header-text: #ffffff;

  --color-tab-header-dropdown-bg: #e8e8e8;
  --color-tab-header-dropdown-hover-bg: #dddddd;
  --color-tab-header-button: #767676;
  --color-tab-header-button-border: #e8e8e8;
  --color-tab-header-button-active-border: #ffa500;
  --color-tab-header-button-focus-border: rgba(0, 0, 0, 0.2);
  --color-tab-header-button-active: #ffa500;
  --color-tab-content-bg: #ffffff;

  --color-dropdown-menu-bg: #ffffff;
  --color-dropdown-menu-item-hover: #ebfaff;

  --color-context-menu-bg: #ffffff;
  --color-context-menu-element-divider: #cccccc;
  --color-context-menu-element-hover: #dddddd;

  --color-header-menu-submenu-bg: #ffffff;
  --color-header-menu-submenu-shadow: rgba(24, 26, 31, 0.2);
  --color-header-menu-submenu-border: #ffa500;
  --color-header-menu-submenu-item-hover: rgba(0, 0, 0, 0.1);

  --color-contents-bg: #f5f5f5;
  --color-contents-mini-hover: #c8e6c9;
  --color-contents-toggle-btn: #939393;

  --color-functional-area-header: #303030;
  --color-functional-area-element-selected: #666666;
  --color-functional-area-element-selected-bg: #ffffff;
  --color-functional-area-element-selected-line: #ffa500;
  --color-functional-area-view-selected-line: #de5356;
  --color-functional-area-element-view-selected-bg: #f8f8f8;

  --color-comments-close-hover: #d2d2d2;

  --color-main-tabs-header-container-bg: #f2f2f2;
  --color-main-tabs-header-container-border: #dadada;
  --color-main-tabs-footer-bg: #e2e2e2;
  --color-main-tabs-footer: #545454;
  --color-main-tabs-label: #525252;
  --color-main-tabs-label-active-formula: #b71c1c;
  --color-main-tabs-button-close: #9f9f9f;
  --color-main-tabs-button-bg: #f2f2f2;
  --color-main-tabs-button-border: #dadada;
  --color-main-tabs-button-active-bg: #ffffff;

  --color-grid-pinned-area-border: #d3d3d3;
  --color-grid-cells-border: #e8e8e8;
  --color-grid-table-container-bg: #ffffff;
  --color-grid-cell-bg: #ffffff;
  --color-header-cell-bg: #f1f1f1;
  --color-grid-cell-inner-bg: #d7d7d7;
  --color-grid-body-header-bg: #f1f1f1;
  --color-grid-body-top-left-bg: #f1f1f1;
  --color-grid-body-heading-0-bg: #d7d7d7;
  --color-preview-cell-bg: #fff;
  --color-preview-cell-link: #0000ff;
  --color-cell-bg-default: #ffffff;
  --color-text-calculated: #212121;
  --color-text-input: #0000ff;
  --color-cell-editor-textarea-bg: #ffffff;
  --color-cell-editor-pre-edit-container-bg: #0000ff;

  --color-modal-bg: #ffffff;
  --color-modal-title: #1c1c1c;
  --color-modal-overlay-bg: rgba(50, 50, 50, 0.2);

  --color-user-menu-bg: #ffffff;

  --color-toolbar-settings-element-bg: #2f363b;
  --color-toolbar-settings-element-shadow: #24292d;
  --color-toolbar-settings-element-hover: #374045;

  --color-dnd-zone-bg: #e8e8e8;
  --color-dnd-zone-element-bg: #ffffff;
  --color-dnd-zone-element: #595959;
  --color-dnd-zone-element-disabled-bg: #f2f2f2;
  --color-dnd-zone-element-shadow: #cfcfcf;
  --color-dnd-zone-element-hover-bg: #fcfcfc;
  --color-dnd-zone-element-selected-bg: #f0f0f0;
  --color-dnd-zone-element-not-editable-bg: #fdff87;
  --color-dnd-zone-element-not-editable-hover: #f7d75d;

  --color-list-elements-header-bg: #ffffff;
  --color-list-elements-content-bg: #efefef;
  --color-list-elements-element-bg: #ffffff;
  --color-list-elements-element-shadow: rgba(0, 0, 0, 0.1);
  --color-list-elements-element: #595959;
  --color-list-elements-element-hover-bg: #f7f7f7;
  --color-list-elements-element-disabled-bg: #f7f7f7;
  --color-list-elements-element-static-bg: #ffffff;

  --color-mark-comment-func: #0000ff;
  --color-mark-comment-value: #008000;
  --color-text-field-bg: #eff5f2;
  --color-token-comment-bg: #1e28851a;
  --color-token-comment: #484848;
  --color-token-incomplete: #003cff33;
  --color-token-value: #000000;
  --color-token-punctuation-operator: #ff00a5;
  --color-token-keyword: #1f38b1;
  --color-token-function: #098f25;
  --color-unmatched-text: #898989;

  --color-bordered-container-shadow: rgba(0, 0, 0, 0.2);

  --color-toolbar-icon: #9d9d9d;
  --color-second-toolbar-icon: #444444;
  --color-warning: #d12a2d;
  --color-warning-hover: #de5356;
  --color-attention: #dddd00;
  --color-attention-hover: #e1c400;

  --color-detail-element-content-bg: #f8f8f8;
  --color-detail-element-content-border: #d4d4d4;

  --color-trace-dialog-formula-link: #5656ff;
  --color-trace-dialog-highlight-bg: rgb(255 251 229);
  --color-trace-dialog-highlight-border: #b5b5b5;

  --color-chart-increment: #228b22;
  --color-chart-decrement: #b22222;
  --color-chart-total: #0000cd;

  --color-icon-primary: #a5a5a5;
  --color-icon-secondary-0: #626262;
  --color-icon-secondary-1: #50be98;

  --color-nav-accent: #fff;

  --color-header-badge: #ffff00;

  --color-notification-accent: #d0695b;
  --color-notification-publish: #8e8e8e;
  --color-notification-icon: #000000;
  --color-comment-triangle: #f00;
}
