.Wrapper {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.Container {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  grid-area: content;
}

.Content {
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 42px;

  &::-webkit-scrollbar {
    width: 10px;
  }
}

.Blank {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.LoaderContainer {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.Loader {
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  vertical-align: top;
}
