:root {
  --height-progress-track: var(--spacing);
  --size-progress-circle: calc(15 * var(--spacing));
  --color-progress-track: var(--color-divider);
  --color-progress-range: var(--color-primary);
  --color-progress-range-disabled: var(--color-divider);
  --color-progress-buffer-from: var(--color-primary-contrast);
  --color-progress-buffer-to: var(--color-primary);
  --color-progress-value-text: var(--color-accent);
}

[data-scope='progress'][data-part='root'] {
  /* linear */
  & [data-part='track'] {
    --bg: var(--color-progress-track);
    height: var(--height-progress-track);
  }

  & [data-part='range'] {
    --bg: var(--color-progress-range);
    height: var(--height-progress-track);

    &[data-state='indeterminate'] {
      animation: linear-indeterminate-bar 1s linear infinite;
      transform-origin: center center;
    }
  }

  & [data-part='buffer'] {
    --from: var(--color-progress-buffer-from);
    --to: var(--color-progress-buffer-to);
    height: var(--height-progress-track);
  }

  & [data-part='value-text'] {
    --color: var(--color-progress-value-text);
  }

  /* circle */
  & [data-part='circle-wrap'] {
    height: var(--size-progress-circle);
    width: var(--size-progress-circle);
    position: relative;
  }

  &:has([data-part='circle-wrap']) [data-part='value-text'] {
    height: var(--size-progress-circle);
    top: unset;
  }

  & [data-part='circle'] {
    --size: var(--size-progress-circle);
    --thickness: var(--height-progress-track);

    &[data-state='indeterminate'] {
      animation: circle-indeterminate-rotate 1.5s linear infinite;
    }
  }

  & [data-part='circle-track'] {
    stroke: transparent;
  }

  & [data-part='circle-range'] {
    stroke: var(--color-progress-range);
    stroke-linecap: round;
    transition-property: stroke-dasharray, stroke;
    transition-duration: 0.6s;

    &[data-state='indeterminate'] {
      animation: circle-indeterminate-range 2s ease-in-out infinite;
    }
  }

  /* disabled */
  &[data-disabled='true'] {
    & [data-part='range'] {
      background: var(--color-progress-range-disabled);
    }

    & [data-part='circle-track'] {
      stroke: var(--color-progress-range-disabled);
    }

    & [data-part='circle-range'] {
      stroke: transparent;
    }

    & [data-part='cancel-trigger'] {
      pointer-events: none;
    }
  }

  /* multicolor */
  &[data-multicolor='true'] {
    & [data-part='circle-range'][data-state='indeterminate'] {
      animation: circle-indeterminate-range 2s ease-in-out infinite, circle-indeterminate-color 2s
        ease-in-out infinite;
    }
  }
}

@keyframes linear-indeterminate-bar {
  0% {
    transform: translate(-50%) scaleX(0);
  }

  50% {
    transform: translate(-0%) scaleX(0.3);
  }

  100% {
    transform: translate(50%) scaleX(0);
  }
}

@keyframes circle-indeterminate-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-indeterminate-range {
  0% {
    stroke-dasharray: 1, 400;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -260;
  }
}

@keyframes circle-indeterminate-color {
  0% {
    stroke: var(--color-blue-700);
  }

  25% {
    stroke: var(--color-red-500);
  }

  50% {
    stroke: var(--color-amber-600);
  }

  75% {
    stroke: var(--color-green-600);
  }

  100% {
    stroke: var(--color-blue-700);
  }
}
