/* ---------------------------------------------------------- */
/* Style for DnD */
/* ---------------------------------------------------------- */
.Wrapper {
  padding: 0; /* don't touch */
  margin: 0; /* don't touch */
}

.Container {
  margin: 0;
  padding: 3px; /* offset */

  &_noStyle {
    padding: 0;
  }
}

/* ---------------------------------------------------------- */
/* Style for Dnd */
/* ---------------------------------------------------------- */
.Item {
  border: 1px solid var(--kanban-card-border);
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: var(--kanban-card-bg);
  cursor: pointer;
  color: var(--kanban-card-text);
  font-size: 13px;

  &:hover {
    background: var(--kanban-card-bg-hover);
  }

  &_disabled {
    background: var(--kanban-card-bg-disabled);
    color: var(--kanban-card-text-disabled);
    cursor: default;
    box-shadow: none;

    &:hover {
      background: var(--kanban-card-bg-disabled);
    }
  }

  &_dragging {
    opacity: 0.6;
  }

  &_noStyle {
    background: none;
    font-size: inherit;
    color: inherit;
    box-shadow: none;
    border-radius: 0;
    border: none;

    &:hover {
      background: none;
    }
  }
}

/* ---------------------------------------------------------- */
/* Header */
/* ---------------------------------------------------------- */
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.HeaderLabel {
  width: 100%;
  padding: 6px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &_noStyle {
    padding: 0;
    text-overflow: inherit;
    white-space: normal;
  }
}

.HeaderIconBefore {
  padding: 6px;
  border-right: 1px solid var(--kanban-card-border);

  & .material-icons {
    font-size: 18px;
    vertical-align: top;
  }
}
.HeaderIconAfter {
  padding: 6px;

  & .material-icons {
    font-size: 18px;
    vertical-align: top;
  }
}

/* ---------------------------------------------------------- */
/* Card */
/* ---------------------------------------------------------- */

.Card {
  padding: 5px 0;
}

.CardContent {
  border: 1px solid var(--kanban-secondary);
  padding: 10px 10px 10px 15px;
  width: 100%;
  position: relative;
  box-shadow: 2px 2px 5px var(--kanban-secondary);
  background-color: var(--kanban-card-bg);

  &:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
    background-color: var(--kanban-primary);
  }

  &:hover {
    & .CardControl {
      opacity: 1;
      visibility: visible;
    }
  }

  &_small {
    font-size: 11px;
    padding: 5px 5px 5px 7px;

    &:before {
      width: 2px;
    }
  }

  &_medium {
    font-size: 12px;
    padding: 7px 7px 7px 10px;

    &:before {
      width: 3px;
    }
  }

  &_big {
    font-size: 18px;
    padding: 10px 10px 10px 13px;

    &:before {
      width: 4px;
    }
  }

  &_disableCard {
    opacity: 0.4;
  }
}

.CardContentHash {
  word-wrap: break-word;
}
