.ToggleButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-right: 4px;
}

.ToggleButtonIcon {
  font-size: 18px !important;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg path {
    stroke: var(--contents-toggleBtn-color);
  }
}
