[data-scope='color-picker'][data-part='content'] {
  width: 220px;
  padding: 10px;
  z-index: 7070;

  & [data-part='channel-input'] {
    border: medium;
    -webkit-box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset;
    box-shadow: rgb(204, 204, 204) 0px 0px 0px 1px inset;
    padding: 4px;
    border-radius: 0;
    font-size: 12px;
    outline: none;
    text-align: center;
    width: 30px;

    & ~ span {
      font-size: 11px;
      font-weight: 400;
      color: #222;
    }
  }

  [data-tag='inputs'] {
    [data-scope='field'][data-part='input'] {
      font-size: 0.875rem;
      text-align: center;
    }

    & > :nth-child(1) {
      width: 65px;
      & [data-part='channel-input'] {
        width: 100%;
      }
    }
  }

  & [data-tag='toolbar'] {
    padding: 10px 0;
    & > [data-scope='button'] {
      min-width: 65px;
      font-size: 1.2rem;
      height: 30px;
      line-height: 30px;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  & [data-part='swatch'] {
    width: 18px;
    height: 18px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.14901960784313725);
  }

  & [data-part='swatch-group'] {
    flex-wrap: wrap;
    gap: var(--spacing-1);
  }
  & [data-part='area'] {
    height: 150px;
  }
}
