/** TODO: colors */
:root {
  --color-checkbox: var(--color-primary);
  --color-checkbox-disabled: var(--color-black);
  --color-checkbox-focus-checked: var(--color-primary);
  --color-checkbox-focus: var(--color-black);
  --color-checkbox-text: var(--color-black);
  --color-checkbox-custom: #f2b822;
  --color-checkbox-custom-hover: #c79222;
  --color-checkbox-border: rgb(117, 117, 117);
  --size-checkbox-focus: calc(var(--size-checkbox) * 2.3);
  --size-checkbox: calc(1.8 * var(--unit));
  --font-size-checkbox: var(--font-size-small);
  --font-size-checkbox-custom: 1.4rem;
  --height-checkbox-total: calc(1.8 * var(--unit));
  --margin-bottom-checkbox-field: calc(1.5 * var(--unit));
  --transition-duration-checkbox: 0.2s;
}

[data-scope='checkbox'][data-part='root'] {
  display: flex;
  align-items: center;
  max-width: fit-content;
  height: var(--height-checkbox-total);
  margin-bottom: var(--margin-bottom-checkbox-field);
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: var(--preferred-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size: 100%;

  &:focus {
    --ring-offset-shadow: 0 0 #0000;
    --ring-shadow: 0 0 #0000;
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--ring-shadow);
  }

  &::before,
  &::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  & [data-disabled] {
    cursor: auto;
    opacity: 0.6;
  }
}

[data-scope='checkbox'][data-part='box-control'] {
  border: 2px solid var(--color-checkbox-border);
  border-radius: 0.125rem;
  cursor: pointer;
  display: inline-block;
  width: var(--size-checkbox);
  height: var(--size-checkbox);
  position: relative;
  transition-property: background-color;
  transition-duration: var(--transition-duration-checkbox);
  transition-timing-function: var(--animation-curve-default);
  vertical-align: top;
  box-sizing: border-box;
  font-family: var(--preferred-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:focus {
    --ring-offset-shadow: 0 0 #0000;
    --ring-shadow: 0 0 #0000;
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--ring-shadow);
  }

  &:focus-visible {
    --ring-color: rgb(59 130 246);
    --ring-offset-shadow: 0 0 #0000;
    --ring-shadow: 0 0 0 2px var(--ring-color);
    box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--ring-shadow);
  }

  &::before,
  &::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &::after {
    animation: none;
  }

  &[data-state='checked'] {
    background-color: var(--color-checkbox);
    border-color: var(--color-checkbox);
  }

  &[data-disabled='true'] {
    border-color: var(--color-checkbox-disabled);
    cursor: auto;
  }

  &:focus ~ &[data-state='checked'] {
    &:before {
      content: '';
      position: absolute;
      left: calc(0.4 * var(--unit));
      top: calc(-0.1 * var(--unit));
      width: calc(0.7 * var(--unit));
      height: calc(1.2 * var(--unit));
      border-style: solid;
      border-width: 0 2px 2px 0;
      border-color: var(--color-background);
      transform: rotate(45deg);
    }
  }

  &[data-disabled]:after {
    animation: none !important;
    border-color: var(--color-checkbox);
  }

  &[data-state='checked'] {
    &::after {
      animation: checkmark-expand 140ms ease-out forwards;
      border-bottom-width: 2px;
      border-color: var(--color-background);
      border-left: 0;
      border-right-width: 2px;
      border-style: solid;
      border-top: 0;
      content: '';
      height: calc(1.2 * var(--unit));
      left: calc(0.4 * var(--unit));
      position: absolute;
      top: calc(-0.1 * var(--unit));
      transform: rotate(45deg);
      width: calc(0.7 * var(--unit));
    }
  }

  &[data-state='checked'][data-disabled] {
    background-color: var(--color-checkbox-disabled);
    border-color: transparent;
    cursor: auto;
  }
}

[data-scope='checkbox'][data-part='checked-icon'] {
  :where([data-state='unchecked']) & {
    display: none;
  }
}

[data-scope='checkbox'][data-part='unchecked-icon'] {
  :where([data-state='checked']) & {
    display: none;
  }
}

[data-scope='checkbox'][data-part='custom-control'] {
  position: relative;
  cursor: pointer;
  color: var(--color-checkbox-custom);

  & * {
    font-size: var(--font-size-checkbox-custom);
  }

  &:hover {
    color: var(--color-checkbox-custom-hover);
  }
}

[data-scope='checkbox'][data-part='label'] {
  flex: 1;
  padding-left: var(--unit);
  text-overflow: ellipsis;
  cursor: pointer;
  color: var(--color-checkbox-text);
  display: inline-block;
  line-height: var(--color-checkbox);
  vertical-align: top;
  white-space: nowrap;
  font-size: var(--font-size-checkbox);

  &[data-disabled='true'] {
    color: var(--color-checkbox-disabled);
    cursor: auto;
  }
}

@keyframes checkmark-expand {
  0% {
    height: 0;
    left: calc(0.6 * var(--unit));
    top: calc(0.9 * var(--unit));
    width: 0;
  }

  100% {
    height: calc(1.2 * var(--unit));
    left: calc(0.4 * var(--unit));
    top: calc(-0.1 * var(--unit));
    width: calc(0.7 * var(--unit));
  }
}
