[data-scope='field'][data-tag='internal'] {
  &[data-part='root'] {
    padding: 14px 0;
  }

  [data-part='label'][data-tag='floating-top'] {
    top: var(--spacing-1);
  }

  [data-part='input'] {
    padding: 8px 0;
    font-size: 14px;
  }
  [data-part='label'],
  [data-part='error'],
  [data-part='hint'] {
    font-size: 12px;
  }
}
