[data-scope='scroll'] {
  &[data-part='root'] {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: inherit;
  }

  [data-part='viewport'] {
    width: 100%;
    height: 100%;
    overflow: scroll;
    box-sizing: border-box;
    scroll-behavior: auto;
    padding-right: 20px;
    scrollbar-width: none;
  }

  [data-part='scrollbar'] {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20px;
  }

  [data-part='range'] {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: #e6e6e6;
    width: 100%;
  }

  [data-part='thumb'] {
    position: relative;
    top: 0;
    right: 0;
    background-color: #959595;
    border-radius: 2px;
    width: 18px;
  }

  [data-part='button-up'],
  [data-part='button-down'] {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    border: none;
    width: 100%;
    box-sizing: border-box;
  }
}
