:root[data-theme='tinkoff'] {
  /* Theme Base Colors */
  --color-theme-black: #010409;
  --color-theme-white: #f0f6fc;

  /* Theme Gray Scale */
  --color-theme-gray-50: #f0f0f0;
  --color-theme-gray-100: #d9d9d9;
  --color-theme-gray-200: #c0c0c0;
  --color-theme-gray-300: #a7a7a7;
  --color-theme-gray-400: #949494;
  --color-theme-gray-500: #818181;
  --color-theme-gray-600: #797979;
  --color-theme-gray-700: #6e6e6e;
  --color-theme-gray-800: #646464;
  --color-theme-gray-900: #515151;

  /* Theme Primary Scale */
  --color-theme-primary-default: #ffdd2d;
  --color-theme-primary-50: #fffae6;
  --color-theme-primary-100: #fdf1b9;
  --color-theme-primary-200: #fde98e;
  --color-theme-primary-300: #fde163;
  --color-theme-primary-400: #fdd938;
  --color-theme-primary-500: #ffdd2d;
  --color-theme-primary-600: #d1ad0c;
  --color-theme-primary-700: #a38709;
  --color-theme-primary-800: #756106;
  --color-theme-primary-900: #473b03;

  /* Theme Accent Scale */
  --color-theme-accent-default: #ffdd2d;
  --color-theme-accent-50: #fffae6;
  --color-theme-accent-100: #fdf1b9;
  --color-theme-accent-200: #fde98e;
  --color-theme-accent-300: #fde163;
  --color-theme-accent-400: #fdd938;
  --color-theme-accent-500: #ffdd2d;
  --color-theme-accent-600: #d1ad0c;
  --color-theme-accent-700: #a38709;
  --color-theme-accent-800: #756106;
  --color-theme-accent-900: #473b03;

  /* Theme Secondary Scale */
  --color-theme-secondary-default: #ffdd2d;
  --color-theme-secondary-50: #fffae6;
  --color-theme-secondary-100: #fdf1b9;
  --color-theme-secondary-200: #fde98e;
  --color-theme-secondary-300: #fde163;
  --color-theme-secondary-400: #fdd938;
  --color-theme-secondary-500: #ffdd2d;
  --color-theme-secondary-600: #d1ad0c;
  --color-theme-secondary-700: #a38709;
  --color-theme-secondary-800: #756106;
  --color-theme-secondary-900: #473b03;

  /* Scrollbar Components */
  --color-scrollbar-primary-default: #e5e5e5;
  --color-scrollbar-primary-thumb-default: #cdcdcd;
  --color-scrollbar-primary-thumb-active: #b3b3b3;

  /* Field/Input Components */
  --color-field-primary-background-default: #ffffff;
  --color-field-primary-border-default: #b1bac4;
  --color-field-primary-border-active: #757474;
  --color-field-primary-default: #595959;

  /* Theme Text */
  --color-theme-text-primary-default: #212121;
  --color-theme-text-secondary-default: #595959;

  /* Theme Highlight */
  --color-theme-highlight-accent-default: #fff5cc;
  --color-theme-highlight-light-default: #f6f6f6;
  --color-theme-highlight-dark-default: #d2d2d2;

  /* Divider Components */
  --color-divider-primary-default: #e8e8e8;
  --color-divider-secondary-default: #e0e0e0;

  /* Button Components */
  --color-button-warning-default: #d12a2d;
  --color-button-warning-on-default: #f0f6fc;
  --color-button-warning-active: #de5356;

  --color-button-gray-default: #f0f0f0;
  --color-button-gray-on-default: #595959;
  --color-button-gray-active: #e7e7e7;
  --color-button-gray-border-default: #d1d1d1;

  --color-button-accent-default: #ffdd2d;
  --color-button-accent-on-default: #212121;
  --color-button-accent-active: #756106;

  --color-button-primary-on-default: #756106;
  --color-button-primary-active: rgba(255, 221, 45, 0.1);

  --color-button-neutral-on-default: #595959;
  --color-button-neutral-active: rgba(33, 33, 33, 0.2);

  --color-button-disabled-default: #f0f0f0;
  --color-button-disabled-on-default: #c9c9c9;

  /* Drive Components */
  --color-drive-primary-default: #ffffff;
  --color-drive-primary-panel-background: #9299a2;
  --color-drive-primary-panel-on-default: #ffffff;
  --color-drive-primary-divider-default: #ffffff;
  --color-drive-primary-workspace-line: #ffffff;
  --color-drive-primary-folder-default: #ffdd2d;
  --color-drive-primary-folder-active: #fde163;
  --color-drive-primary-header-tab-default: #f5f5f5;
  --color-drive-primary-header-tab-active: #ffdd2d;
  --color-drive-primary-header-on-active: #212121;
  --color-drive-primary-tags-default: #929191;
  --color-drive-primary-tags-border-default: #ffdd2d;
  --color-drive-primary-tags-border-active: #ffdd2d;
  --color-drive-primary-tags-personal: #212121;

  /* Model Components */
  --color-model-primary-row-rename: #f0f0f0;
  --color-model-primary-row-active: #f0f0f0;
  --color-model-primary-card-border-default: #dcdcdc;
  --color-model-primary-card-active: #ffdd2d;
  --color-model-primary-icon-default: #ffdd2d;
  --color-model-primary-name-default: #212121;
  --color-model-primary-size-default: #a2a2a2;
  --color-model-primary-date-default: #c7c7c7;
  --color-model-primary-offline-date: #212121;
  --color-model-primary-status-default: #212121;
  --color-model-primary-offline-background: rgba(0, 0, 0, 0.2);
  --color-model-primary-delete: #727272;

  /* Select Components */
  --color-select-primary-border-default: #b1bac4;
  --color-select-primary-arrow-background: #b1bac4;
  --color-select-primary-background-default: #ffffff;
  --color-select-primary-selected-default: #212121;
  --color-select-primary-active: #eeeeee;
  --color-select-primary-disabled: #8b949e;

  /* Checkbox Components */
  --color-checkbox-primary-default: #c1c1c1;
  --color-checkbox-primary-disabled: #d8d8d8;
  --color-checkbox-primary-on-default: #595959;

  /* Header Components */
  --color-header-primary-default: #ffdd2d;
  --color-header-primary-on-default: #212121;
  --color-header-primary-badge-default: #ffff00;

  /* Tab Components */
  --color-tabs-primary-dropdown-default: #e8e8e8;
  --color-tabs-primary-dropdown-active: #dddddd;
  --color-tabs-primary-button-default: #767676;
  --color-tabs-primary-border-default: #e8e8e8;
  --color-tabs-primary-border-active: #ffdd2d;
  --color-tabs-primary-border-focus: rgba(0, 0, 0, 0.2);
  --color-tabs-primary-button-active: #212121;
  --color-tabs-primary-content-background: #ffffff;

  /* Menu Components */
  --color-menu-primary-default: #ffffff;
  --color-menu-primary-active: #ebfaff;
  --color-menu-primary-divider-default: #cccccc;
  --color-menu-primary-item-active: #dddddd;

  /* Header Menu Components */
  --color-menu-header-default: #ffffff;
  --color-menu-header-shadow-default: rgba(24, 26, 31, 0.2);
  --color-menu-header-border-default: #ffdd2d;
  --color-menu-header-item-active: rgba(0, 0, 0, 0.1);

  /* Content Components */
  --color-content-primary-default: #f5f5f5;
  --color-content-primary-mini-active: #c8e6c9;
  --color-content-primary-toggle-default: #939393;

  /* Functional Area Components */
  --color-functional-primary-header: #303030;
  --color-functional-primary-selected-default: #666666;
  --color-functional-primary-selected-background: #ffffff;
  --color-functional-primary-selected-line: #ffdd2d;
  --color-functional-primary-view-line: #de5356;
  --color-functional-primary-view-background: #f8f8f8;

  /* Main Tabs Components */
  --color-tabs-main-header-default: #f2f2f2;
  --color-tabs-main-header-border-default: #dadada;
  --color-tabs-main-footer-default: #e2e2e2;
  --color-tabs-main-footer-on-default: #545454;
  --color-tabs-main-label-default: #525252;
  --color-tabs-main-formula-active: #b71c1c;
  --color-tabs-main-close-default: #9f9f9f;
  --color-tabs-main-button-default: #f2f2f2;
  --color-tabs-main-button-border-default: #dadada;
  --color-tabs-main-button-active: #ffffff;

  /* Grid Components */
  --color-grid-primary-border-default: #d3d3d3;
  --color-grid-primary-cells-border: #e8e8e8;
  --color-grid-primary-table-background: #ffffff;
  --color-grid-primary-cell-default: #ffffff;
  --color-grid-primary-header-default: #f1f1f1;
  --color-grid-primary-cell-inner: #d7d7d7;
  --color-grid-primary-body-header: #f1f1f1;
  --color-grid-primary-body-top-left: #f1f1f1;
  --color-grid-primary-body-heading: #d7d7d7;

  /* Formula Components */
  --color-formula-primary-comment-function: #0000ff;
  --color-formula-primary-comment-value: #008000;
  --color-formula-primary-background: #eff5f2;
  --color-formula-primary-comment-background: #1e28851a;
  --color-formula-primary-comment-on-default: #484848;
  --color-formula-primary-incomplete: #003cff33;
  --color-formula-primary-value: #000000;
  --color-formula-primary-operator: #ff00a5;
  --color-formula-primary-keyword: #1f38b1;
  --color-formula-primary-function: #098f25;
  --color-formula-primary-unmatched: #898989;

  /* Chart Components */
  --color-chart-increment: #228b22;
  --color-chart-decrement: #b22222;
  --color-chart-total: #0000cd;

  /* Icon Components */
  --color-icon-primary-default: #a5a5a5;
  --color-icon-secondary-default: #626262;
  --color-icon-secondary-100: #50be98;

  /* Navigation Components */
  --color-navigation-primary-accent: #000000;

  /* Status Components */
  --color-theme-warning-default: #d12a2d;
  --color-theme-warning-active: #de5356;
  --color-theme-attention-default: #dddd00;
  --color-theme-attention-active: #e1c400;

  /* Toast/Notification Components */
  --color-toast-accent-default: #d0695b;
  --color-toast-publish-default: #8e8e8e;
  --color-toast-icon-default: #000000;

  /* Container Components */
  --color-container-primary-shadow: rgba(0, 0, 0, 0.2);

  /* Comment Components */
  --color-comment-primary-triangle: #f00;
}
