:root[data-theme='yadrolight'] {
  /* Theme Base Colors */
  --color-theme-black: #010409;
  --color-theme-white: #f0f6fc;

  /* Theme Gray Scale */
  --color-theme-gray-50: #f0f0f0;
  --color-theme-gray-100: #d9d9d9;
  --color-theme-gray-200: #c0c0c0;
  --color-theme-gray-300: #a7a7a7;
  --color-theme-gray-400: #949494;
  --color-theme-gray-500: #818181;
  --color-theme-gray-600: #797979;
  --color-theme-gray-700: #6e6e6e;
  --color-theme-gray-800: #646464;
  --color-theme-gray-900: #515151;

  /* Theme Primary Scale */
  --color-theme-primary-default: #0f5dc4;
  --color-theme-primary-50: #e7f1fd;
  --color-theme-primary-100: #bbd5f0;
  --color-theme-primary-200: #90b7e5;
  --color-theme-primary-300: #6599da;
  --color-theme-primary-400: #3a7bcf;
  --color-theme-primary-500: #0f5dc4;
  --color-theme-primary-600: #0e4ba0;
  --color-theme-primary-700: #0b3b7e;
  --color-theme-primary-800: #082b5c;
  --color-theme-primary-900: #051b3a;

  /* Theme Accent Scale */
  --color-theme-accent-default: #d147c3;
  --color-theme-accent-50: #faebf8;
  --color-theme-accent-100: #f1cbef;
  --color-theme-accent-200: #e9aae4;
  --color-theme-accent-300: #e189d9;
  --color-theme-accent-400: #d968ce;
  --color-theme-accent-500: #d147c3;
  --color-theme-accent-600: #ac399f;
  --color-theme-accent-700: #862c7c;
  --color-theme-accent-800: #601f59;
  --color-theme-accent-900: #3a1236;

  /* Theme Secondary Scale */
  --color-theme-secondary-default: #66d9ff;
  --color-theme-secondary-50: #e5f9ff;
  --color-theme-secondary-100: #caf1ff;
  --color-theme-secondary-200: #b1ebff;
  --color-theme-secondary-300: #98e5ff;
  --color-theme-secondary-400: #7fdfff;
  --color-theme-secondary-500: #66d9ff;
  --color-theme-secondary-600: #50b3d2;
  --color-theme-secondary-700: #3c8ba4;
  --color-theme-secondary-800: #286376;
  --color-theme-secondary-900: #143b48;

  /* Scrollbar Components */
  --color-scrollbar-primary-default: #e5e5e5;
  --color-scrollbar-primary-thumb-default: #cdcdcd;
  --color-scrollbar-primary-thumb-active: #b3b3b3;

  /* Field/Input Components */
  --color-field-primary-background-default: #ffffff;
  --color-field-primary-border-default: #b1bac4;
  --color-field-primary-border-active: #757474;
  --color-field-primary-default: #595959;

  /* Theme Text */
  --color-theme-text-primary-default: #212121;
  --color-theme-text-secondary-default: #595959;

  /* Theme Highlight */
  --color-theme-highlight-accent-default: #fff5cc;
  --color-theme-highlight-light-default: #f6f6f6;
  --color-theme-highlight-dark-default: #d2d2d2;

  /* Divider Components */
  --color-divider-primary-default: #e8e8e8;
  --color-divider-secondary-default: #e0e0e0;

  /* Button Components */
  --color-button-warning-default: #d12a2d;
  --color-button-warning-on-default: #f0f6fc;
  --color-button-warning-active: #de5356;

  --color-button-gray-default: #f0f0f0;
  --color-button-gray-on-default: #595959;
  --color-button-gray-active: #e7e7e7;
  --color-button-gray-border-default: #d1d1d1;

  --color-button-accent-default: #d147c3;
  --color-button-accent-on-default: #f0f6fc;
  --color-button-accent-active: #0f5dc4;

  --color-button-primary-on-default: #0f5dc4;
  --color-button-primary-active: rgba(45, 162, 116, 0.1);

  --color-button-neutral-on-default: #595959;
  --color-button-neutral-active: rgba(33, 33, 33, 0.2);

  --color-button-disabled-default: #f0f0f0;
  --color-button-disabled-on-default: #c9c9c9;

  /* Drive Components */
  --color-drive-primary-default: #ffffff;
  --color-drive-primary-panel-background: #0f5dc4;
  --color-drive-primary-panel-on-default: #ffffff;
  --color-drive-primary-divider-default: #ffffff;
  --color-drive-primary-workspace-line: #ffffff;
  --color-drive-primary-folder-default: #66d9ff;
  --color-drive-primary-folder-active: #8cc3d9;
  --color-drive-primary-header-tab-default: #f5f5f5;
  --color-drive-primary-header-tab-active: #0f5dc4;
  --color-drive-primary-header-on-active: #ffffff;
  --color-drive-primary-tags-default: #929191;
  --color-drive-primary-tags-border-default: #0f5dc4;
  --color-drive-primary-tags-border-active: #0f5dc4;
  --color-drive-primary-tags-personal: #0f5dc4;

  /* Model Components */
  --color-model-primary-row-rename: #f0f0f0;
  --color-model-primary-row-active: #f0f0f0;
  --color-model-primary-card-border-default: #dcdcdc;
  --color-model-primary-card-active: #0f5dc4;
  --color-model-primary-icon-default: #0f5dc4;
  --color-model-primary-name-default: #212121;
  --color-model-primary-size-default: #a2a2a2;
  --color-model-primary-date-default: #c7c7c7;
  --color-model-primary-offline-date: #212121;
  --color-model-primary-status-default: #212121;
  --color-model-primary-offline-background: rgba(0, 0, 0, 0.2);
  --color-model-primary-delete: #727272;

  /* Select Components */
  --color-select-primary-border-default: #b1bac4;
  --color-select-primary-arrow-background: #b1bac4;
  --color-select-primary-background-default: #ffffff;
  --color-select-primary-selected-default: #0f5dc4;
  --color-select-primary-active: #eeeeee;
  --color-select-primary-disabled: #8b949e;

  /* Checkbox Components */
  --color-checkbox-primary-default: #c1c1c1;
  --color-checkbox-primary-disabled: #d8d8d8;
  --color-checkbox-primary-on-default: #595959;

  /* Header Components */
  --color-header-primary-default: #0f5dc4;
  --color-header-primary-on-default: #ffffff;
  --color-header-primary-badge-default: #ffff00;

  /* Tab Components */
  --color-tabs-primary-dropdown-default: #e8e8e8;
  --color-tabs-primary-dropdown-active: #dddddd;
  --color-tabs-primary-button-default: #767676;
  --color-tabs-primary-border-default: #e8e8e8;
  --color-tabs-primary-border-active: #0f5dc4;
  --color-tabs-primary-border-focus: rgba(0, 0, 0, 0.2);
  --color-tabs-primary-button-active: #0f5dc4;
  --color-tabs-primary-content-background: #ffffff;

  /* Menu Components */
  --color-menu-primary-default: #ffffff;
  --color-menu-primary-active: #ebfaff;
  --color-menu-primary-divider-default: #cccccc;
  --color-menu-primary-item-active: #dddddd;

  /* Header Menu Components */
  --color-menu-header-default: #ffffff;
  --color-menu-header-shadow-default: rgba(24, 26, 31, 0.2);
  --color-menu-header-border-default: #0f5dc4;
  --color-menu-header-item-active: rgba(0, 0, 0, 0.1);

  /* Content Components */
  --color-content-primary-default: #f5f5f5;
  --color-content-primary-mini-active: #c8e6c9;
  --color-content-primary-toggle-default: #939393;

  /* Functional Area Components */
  --color-functional-primary-header: #303030;
  --color-functional-primary-selected-default: #666666;
  --color-functional-primary-selected-background: #ffffff;
  --color-functional-primary-selected-line: #0f5dc4;
  --color-functional-primary-view-line: #de5356;
  --color-functional-primary-view-background: #f8f8f8;

  /* Chart Components */
  --color-chart-increment: #228b22;
  --color-chart-decrement: #b22222;
  --color-chart-total: #0000cd;

  /* Icon Components */
  --color-icon-primary-default: #a5a5a5;
  --color-icon-secondary-default: #626262;
  --color-icon-secondary-100: #50be98;

  /* Navigation Components */
  --color-navigation-primary-accent: #ffffff;

  /* Status Components */
  --color-theme-warning-default: #d12a2d;
  --color-theme-warning-active: #de5356;
  --color-theme-attention-default: #dddd00;
  --color-theme-attention-active: #e1c400;

  /* Toast/Notification Components */
  --color-toast-accent-default: #d0695b;
  --color-toast-publish-default: #8e8e8e;
  --color-toast-icon-default: #000000;

  /* Comment Components */
  --color-comment-primary-triangle: #f00;
}
