[data-scope='tooltip'][data-tag='internal'] {
  [data-scope='tooltip'][data-part='content'] {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.3;
    min-height: 20px;
    min-width: 70px;
    max-width: 200px;
    padding: 8px;
    background-color: #3b3b3b;
    color: #ffffff;
    z-index: var(--z-index-higher);
    word-wrap: break-word;

    [data-scope='text'][data-tag='paragraph'],
    [data-scope='text'][data-tag='span'] {
      font-size: 0.875rem;
    }
  }

  [data-scope='tooltip'][data-part='arrow'] {
    --arrow-background: #3b3b3b;
  }

  [data-scope='flex'][data-part='root'][data-align='start'] {
    justify-content: center;
  }
}
