:root {
  --color-toast-cancel: var(--color-palette-red-500);
  --color-toast-success: var(--color-green-700);
  --color-toast-warning: var(--color-palette-lime-a200);
  --color-toast-info: var(--color-deep-orange-800);
  --color-toast-error: var(--color-amber-600);
  --color-toast-bg: var(--color-text);
  --color-toast: var(--color-white);
  --toast-horizontal-offset: calc(2.4 * var(--unit));
  --toast-vertical-offset: calc(1.4 * var(--unit));
}

[data-scope='toast'] {
  &[data-part='root'] {
    translate: var(--x) var(--y);
    scale: var(--scale);
    z-index: var(--z-index);
    opacity: var(--opacity);
    height: var(--height);
    will-change: translate, opacity, scale;

    --bg: var(--color-toast-default);
    --bg-warning: var(--color-toast-warning-default);
    --text: var(--color-toast-on-default);

    &[data-type='success'] {
      color: #ffffff;
      background: var(--color-toast-success);

      & [data-part='close-trigger'],
      & [data-toast-part='close-trigger'] {
        --bg: var(--color-toast-success-default);
      }
    }

    &[data-type='info'] {
      background: var(--color-toast-info);
      color: black;

      & [data-part='close-trigger'],
      & [data-toast-part='close-trigger'] {
        --bg: var(--color-toast-cancel-default);
      }
    }

    &[data-type='error'] {
      color: var(--color-toast-error);
      background: red;

      & [data-part='close-trigger'],
      & [data-scope='button'][data-toast-part='close-trigger'] {
        --bg: var(--color-toast-warning-default);
      }
    }
  }

  &[data-part='root'] {
    display: flex;
    border-radius: var(--radius-sm);
    align-items: center;
    justify-content: center;
    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--bg);
    color: var(--text);
    gap: var(--spacing-2);
    width: var(--size-sm);
  }

  &[data-part='close-trigger'] {
    background-color: var(--bg);
    flex-shrink: 0;
  }

  &[data-part='title'] {
    font-size: var(--text-base);
  }

  &[data-part='description'] {
    font-size: var(--text-sm);
  }

  &[data-part='content'] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-0-5);
  }
}
