[data-scope='checkbox'][data-part='root'][data-style-tag='internal'] {
  &[disabled] {
    & [data-part='box-control'] {
      border-color: var(--color-grey-300);
      padding-top: 0;

      &[data-state='checked'] {
        background-color: var(--color-grey-300);

        &:after {
          animation: none;
          border-color: var(--color-grey-400);
        }
      }

      & * {
        cursor: default;
      }
    }

    & > [data-part='label'] {
      color: var(--color-grey-300);
    }
  }

  & [data-part='box-control'] {
    width: 18px;
    height: 18px;
  }
}
