.ScrollContainer {
    min-width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    position: relative;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

.ScrollInnerContainer {
    position: relative;
    min-width: 100%;
}

.Menu {
    display: flex;
    flex: 1;
    min-width: 100%;
    padding: 0 12px 0 35px;
    margin: 0;
    position: relative;
    z-index: 1;

    &__static {
        & .DefaultElement {
            padding: 4px 16px;
        }
    }

    &_small {
        & .Element {
            font-size: 13px;
        }

        & .ListElement {
            padding-bottom: 2px;
        }

        & .BorderContainer {
            margin-top: 0;
        }

        & .ButtonArrow {
            width: 13px !important;
            height: 13px !important;
            top: 5px !important;
        }
    }

    &_normal {
        & .Element {
            font-size: 13px;
        }

        & .ListElement {
            padding-bottom: 3px;
        }

        & .BorderContainer {
            margin-top: -1px;
        }
    }

    &_big {
        & .ListElement {
            padding-bottom: 4px;
        }

        & .BorderContainer {
            margin-top: -2px;
        }
    }
}

.ButtonArrow {
    width: 20px;
    height: 100%;
    position: absolute;
    right: 100%;
    margin-right: 2px;
    cursor: pointer;
    box-sizing: content-box;
    display: flex;
    align-items: center;

    &__active {
        /* need for themr */
    }

    &:hover {
        opacity: .8;
    }
}

.ButtonArrowIcon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: inherit;
}

.List {
    margin: 0;
    padding: 6px 0;
    flex: 1;
}

.ListElement {
    position: relative;
    box-sizing: content-box;
    padding-bottom: 6px;

    &:last-child {
        & .Element {
            padding-bottom: 0;
        }
    }
}

.ListElementInner {
    position: relative;
    height: 100%;
}

.Element {
    padding: 0;
    list-style-type: none;
    white-space: nowrap;
    border-radius: var(--border-radius);
    color: var(--ListElements-element-color);
    background: var(--ListElements-element-bg);
    display: flex;
    align-items: center;
    height: 25px;
    cursor: pointer;

    &:hover, &__highlighted {
        background-color: var(--color-scale-primary-1);
        color: var(--color-scale-gray-9);
    }

    &__selected,
    &__selected:hover,
    &__selected.Element__disabled,
    &__selected.Element__disabled:hover {
        background: var(--primary-color);
        color: #fff;

        & + .Menu > .ButtonArrow {
            color: #fff;
        }
    }

    &__disabled,
    &__disabled:hover {
        background: none;
        opacity: .5;
        cursor: default;
    }
}

.DefaultElementContainer {
    height: 100%;
    width: 100%;
}

.DefaultElement {
    padding: 0 12px 0 12px;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.MessageEmptyElements {
    padding: 8px 16px;
}
