[data-scope='tree-menu'] {
  & [role='button'] {
    cursor: pointer;
  }

  & [data-part='tree-node-no-branch'] {
    padding-left: var(--spacing-5);
  }

  & [data-part='branch-control']:hover,
  [data-part='branch-content'] [data-part='tree-node-no-branch']:hover {
    background-color: var(--color-theme-primary-50);
  }

  & [data-selected] {
    &[role='button'],
    &[role='button']:hover,
    &[data-part='tree-node-no-branch'],
    &[data-part='tree-node-no-branch']:hover {
      background-color: var(--color-theme-primary-default);
    }
  }

  & [data-part='branch-indicator'] {
    display: inline-block;
  }

  & [data-part='branch-indicator'][data-state='open'] {
    transform: rotate(90deg);
  }
}
