[data-scope='button'][data-style-tag='internal'][data-part='root'] {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: none;
  border: 1px solid #0000;
  border-radius: 3px;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  display: inline-flex;
  letter-spacing: 0;

  &[disabled] {
    background: transparent;
    color: #c9c9c9;

    &:hover {
      background: transparent;
      border-color: transparent;
    }
  }

  &[data-variant='accent'][disabled][data-float='flat'] {
    background: var(--color-theme-gray-50);
    color: #c9c9c9;

    &:hover {
      background: var(--color-theme-gray-50);
      border-color: transparent;
    }
  }

  [data-variant='bordered'][disabled][data-float='flat'] {
    opacity: 0.5;
  }

  & svg[data-scope='icon'] {
    width: 1rem;
    height: 1rem;
  }

  &[data-float='flat']:not([data-tag='icon-button']) {
    padding: 0 12px;
    min-width: 90px;
    height: 36px;

    &[data-variant='neutral']:hover {
      background-color: var(--color-button-neutral-default-hover);
    }
  }

  &[data-float='floating']:not([data-size='xs']) {
    padding: 0;
    height: 56px;
    width: 56px;
  }

  [data-scope='font-icon'] {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 120%;
  }
}
