[data-scope='button'][data-tag='internal'] {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  text-transform: none;
  border: 1px solid #0000;
  border-radius: 3px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  display: inline-flex;
  height: 30px;
  letter-spacing: 0;

  &[data-float='flat'] {
    padding: 0 12px;
    min-width: 90px;
  }

  &[data-float='floating']:not([data-size='xs']) {
    padding: 0;
    height: 56px;
    width: 56px;
  }

  [data-scope='font-icon'] {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 120%;
  }
}
