@theme {
  --button-border-radius: calc(0.2 * var(--unit));
  --height-button: calc(3.6 * var(--unit));
  --button-toggle-font-size: calc(2 * var(--unit));

  --color-button-primary: var(--color-primary);
  --color-button-primary-hover: color(var(--color-primary) a(20%));
  --color-button-primary-focus: var(--color-button-primary-hover);
  --color-button-primary-contrast: var(--color-primary-contrast);

  --color-button-accent-contrast: var(--color-primary-contrast);
  --color-button-accent-hover: color(var(--color-accent) a(20%));
  --color-button-accent: var(--color-accent);
  --color-button-neutral: var(--color-white);
  --color-button-neutral-contrast: var(--palette-grey-900);
  --color-button-neutral-hover: color(var(--palette-grey-900) a(20%));

  --button-floating-font-size: calc(2.4 * var(--unit));
  --button-floating-height: calc(5.6 * var(--unit));
  --button-floating-mini-height: calc(4 * var(--unit));
  --button-floating-mini-font-size: calc(var(--button-floating-mini-height) / 2.25);

  --button-disabled-text-color: color(var(--color-black) a(26%));
  --button-disabled-background-color: color(var(--color-black) a(12%));
  --button-disabled-text-color-inverse: color(var(--color-black) a(54%));
  --button-disabled-background-inverse: color(var(--color-black) a(8%));
  --button-squared-icon-margin: calc(0.6 * var(--unit));
  --button-squared-min-width: calc(9 * var(--unit));
  --button-squared-padding: 0 calc(1.2 * var(--unit));

  --color-button-warning-bg: #d12a2d;
  --color-button-warning: #f0f6fc;
  --color-button-warning-hover: #de5356;
  --color-button-gray-bg: #f0f0f0;
  --color-button-gray: #595959;
  --color-button-gray-bg-hover: #e7e7e7;
  --color-button-accent-bg: #44b991;
  --color-button-accent: #f0f6fc;
  --color-button-accent-bg-hover: #2da274;
  --color-button-accent-bg-focus: var(--color-button-accent-bg-hover);

  --color-button-primary: #2da274;
  --color-button-primary-bg-hover: rgba(45, 162, 116, 0.1);
  --color-button-primary-bg-focus: var(--color-button-primary-bg-hover);

  --color-button-neutral-bg-hover: rgba(33, 33, 33, 0.2);
  --color-button-neutral-bg-focus: var(--color-button-neutral-bg-hover);
  --color-button-disabled-bg: #f0f0f0;
  --color-button-disabled: #c9c9c9;
  --color-button-disabled-bg-hover: #f0f0f0;
}
