@theme {
  --height-button: calc(3.6 * var(--unit));
  --font-size-button-toggle: calc(2 * var(--unit));

  --font-size-button-floating: calc(2.4 * var(--unit));
  --size-button-floating: calc(5.6 * var(--unit));

  /* xs button */
  --size-button-xs: var(--font-size-4xl);
  --font-size-button-xs: calc(var(--size-button-xs) / 2.25);
  --line-height-button-xs: 1;

  --color-button-disabled: #c9c9c9;
  --color-button-disabled-bg: #f0f0f0;

  --color-button-primary: var(--color-primary);
  --color-button-primary-hover: theme(--color-button-primary / 0.2);
  --color-button-primary-focus: var(--color-button-primary-hover);
  --color-button-primary-contrast: var(--color-primary-contrast);

  --color-button-accent-contrast: var(--color-primary-contrast);
  --color-button-neutral: var(--color-white);
  --color-button-neutral-contrast: var(--palette-grey-900);
  --color-button-neutral-hover: theme(--palette-grey-900 / 0.2);

  --color-button-warning-bg: #d12a2d;
  --color-button-warning: #f0f6fc;
  --color-button-warning-hover: #de5356;
  --color-button-gray-bg: #f0f0f0;
  --color-button-gray: #595959;
  --color-button-gray-bg-hover: #e7e7e7;

  --color-button-bordered: #44b991;
  --color-button-bordered-hover: #f0f6fc;
  --color-button-bordered-bg: var(--color-button-accent);
  --color-button-bordered-bg-hover: #2da274;
  --color-button-bordered-bg-focus: var(--color-button-accent-bg-hover);

  --color-button-accent-hover: theme(--color-accent / 0.2);
  --color-button-accent: var(--color-accent);

  --color-button-accent-bg: #44b991;
  --color-button-accent: #f0f6fc;
  --color-button-accent-bg-hover: #2da274;
  --color-button-accent-bg-focus: var(--color-button-accent-bg-hover);

  --color-button-primary: #2da274;
  --color-button-primary-bg-hover: rgba(45, 162, 116, 0.1);
  --color-button-primary-bg-focus: var(--color-button-primary-bg-hover);

  --color-button-neutral-bg-hover: rgba(33, 33, 33, 0.2);
  --color-button-neutral-bg-focus: var(--color-button-neutral-bg-hover);

  --color-button-outline: var(--color-grey-600);

  --color-button-inverse: var(--color-background);
  --color-button-inverse-bg: var(--color-background-inverse);

  --radius-button: var(--radius-sm);
  --font-size-button: var(--font-size-2xl);
}
