[data-recipe='Button'] {
  & [data-recipe='Icon'] {
    line-height: normal !important;
    color: inherit;
  }

  &[disabled] {
    @apply bg-transparent text-button-disabled hover:bg-transparent hover:border-transparent;
  }

  &:focus {
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: -4px;
  }

  &[data-variant='primary'] {
    &[data-shape='raised'],
    &[data-shape='floating'] {
      @apply bg-button-primary text-button-primary-contrast;
    }

    &[data-shape='flat'] {
      @apply bg-transparent text-button-primary focus:bg-button-primary-focus hover:bg-button-primary-hover;
    }
  }

  &[data-variant='neutral'] {
    &[data-shape='flat'] {
      @apply bg-transparent text-button-neutral-contrast hover:bg-button-neutral-hover focus:bg-button-neutral-bg-focus focus:border-transparent;
    }
  }

  &[data-variant='accent'] {
    &[data-shape='flat'] {
      @apply bg-button-accent-bg text-button-accent hover:bg-button-accent-bg-hover focus:bg-button-accent-bg-focus focus:border-transparent;
    }

    &[disabled] {
      &[data-shape='flat'] {
        @apply bg-button-disabled-bg text-button-disabled hover:bg-button-disabled-bg-hover hover:border-transparent;
      }
    }
  }

  &[data-variant='bordered'] {
    &[data-shape='flat'] {
      @apply bg-primary text-button-accent border-button-accent-bg hover:bg-button-accent-bg-hover focus:bg-button-accent-bg-focus focus:border-transparent;
    }

    &[disabled] {
      &[data-shape='flat'] {
        opacity: 0.5;
      }
    }
  }

  &[data-status='warning'] {
    &[data-shape='flat'] {
      @apply bg-button-warning-bg text-button-warning hover:bg-button-warning-hover border-transparent;
    }
  }
}
