[data-recipe='Button'] {
  text-size-adjust: 100%;

  outline: 1px solid transparent;
  outline-offset: -4px;

  & svg[data-recipe='Icon'] {
    fill: currentColor;
    @apply size-[0.7em];
  }

  &[disabled] {
    @apply bg-transparent text-button-disabled hover:bg-transparent hover:border-transparent cursor-auto pointer-events-none;
  }

  & > * {
    pointer-events: none;
  }

  &:focus-visible,
  &:active {
    outline-color: var(--color-button-outline);
  }

  &[data-solid],
  &[data-float='raised'],
  &[data-float='floating'] {
    &[disabled] {
      @apply shadow-2p bg-button-disabled-bg;
    }

    &:active {
      @apply shadow-2p;
    }

    &:focus-visible:not([active]) {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    }
  }

  &[data-float='raised'] {
    box-shadow: 0 2px 2px #00000024, 0 3px 1px -2px #0003, 0 1px 5px #0000001f;
  }

  &[data-float='floating'] {
    box-shadow: 0 1px 1.5px #0000001f, 0 1px 1px #0000003d;
  }

  &[data-squared='true'] {
    @apply p-0;

    &[data-size='xs'] {
      @apply size-10;
    }

    &[data-size='md'] {
      @apply size-14;
    }
  }

  &[data-variant='primary'] {
    &[data-float='raised']:not([disabled]),
    &[data-float='floating']:not([disabled]) {
      @apply bg-button-primary text-button-primary-contrast;
    }

    &[data-float='flat']:not([disabled]) {
      @apply bg-transparent text-button-primary focus-visible:bg-button-primary-focus hover:bg-button-primary-hover;
    }
  }

  &[data-variant='neutral'] {
    &[data-float='flat']:not([disabled]) {
      @apply bg-transparent text-button-neutral-contrast hover:bg-button-neutral-bg-hover focus-visible:bg-button-neutral-bg-focus focus-visible:border-transparent;
    }
  }

  &[data-variant='accent'] {
    &[data-float='flat']:not([disabled]) {
      @apply bg-button-accent-bg text-button-accent hover:bg-button-accent-bg-hover focus-visible:bg-button-accent-bg-focus focus-visible:border-transparent;
    }

    &[disabled] {
      &[data-float='flat'] {
        @apply bg-button-disabled-bg text-button-disabled;
      }
    }
  }

  &[data-variant='bordered'] {
    &[data-float='flat']:not([disabled]) {
      @apply text-button-bordered border-button-bordered hover:bg-button-bordered-bg-hover hover:text-button-bordered-hover focus-visible:bg-button-bordered-bg-focus focus-visible:border-transparent bg-transparent;
    }

    &[disabled] {
      &[data-float='flat'] {
        opacity: 0.5;
      }
    }
  }

  &[data-status='warning'] {
    &[data-float='flat']:not([disabled]) {
      @apply bg-button-warning-bg text-button-warning hover:bg-button-warning-hover border-transparent;
    }
  }

  &[data-size='xs'] {
    @apply text-button-xs;
  }

  &[data-inverse='true'] {
    &[data-float='flat']:not([disabled]) {
      @apply text-button-inverse bg-button-inverse-bg hover:bg-button-inverse-bg;
    }
  }
}
