.ResourceSubList {
  display: flex;
  flex-direction: column;

  &.Opened {
    > .Content {
      height: 100%;
    }
  }
}

.Content {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
}
