[data-tag='sidebar'] {
  &[data-part='root'] {
    background-color: var(--color-sidebar-primary-default);
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 0;
    border-style: solid;
    border-color: var(--color-sidebar-primary-border-default);
    z-index: 2;

    &[data-position='right'] {
      right: 0;
      border-left-width: var(--spacing-px);
    }

    &[data-position='left'] {
      left: 0;
      border-right-width: var(--spacing-px);
    }

    &[data-state='closed'] {
      border: 0;
    }
  }

  &[data-part='mini-panel'] {
    background-color: var(--color-sidebar-primary-default);
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    /* calc(6 * spacing) = 60px = 3.75rem ≈ var(--spacing-14) */
    width: var(--spacing-14);
    transition: all;
    /* spacing = 10px = 0.625rem = var(--spacing-2-5) */
    padding: var(--spacing-2-5);
    border: 0;
    border-style: solid;
    border-color: var(--color-sidebar-primary-border-default);
    cursor: pointer;
    z-index: 1;

    &[data-position='right'] {
      right: 0;
      border-left-width: var(--spacing-px);
    }

    &[data-position='left'] {
      left: 0;
      border-right-width: var(--spacing-px);
    }

    &:hover {
      background-color: var(--color-sidebar-primary-border-default);
    }

    &[data-disabled='true'] {
      pointer-events: none;
      background-color: var(--color-sidebar-primary-default-disabled);
    }
  }

  & [data-part='trigger'] {
    transition: all;
    color: var(--color-primary);
    /* calc(4 * spacing) = 40px = 2.5rem = var(--spacing-10) */
    width: var(--spacing-6);
    height: var(--spacing-6);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--color-accent);
    }

    &[data-position='left'] {
      transform: rotate(180deg);
    }

    & > svg {
      /* calc(4 * spacing) = 40px = 2.5rem = var(--spacing-10) */
      font-size: var(--spacing-6);
    }
  }

  & [data-part='header'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-bottom: var(--spacing-px) solid var(--color-sidebar-primary-border-default);
    /* spacing = 10px = 0.625rem = var(--spacing-2-5) */
    padding: var(--spacing-2-5);

    &[data-position='left'] {
      flex-direction: row-reverse;
    }
  }

  & [data-part='close-trigger'] {
    color: var(--color-primary);
    /* calc(8 * spacing) = 80px = 5rem = var(--spacing-20) */
    width: var(--spacing-8);
    height: var(--spacing-8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: var(--color-accent);
    }

    &[data-position='left'] {
      transform: rotate(180deg);
    }

    & > svg {
      /* calc(6 * spacing) = 60px = 3.75rem = var(--spacing-14) */
      font-size: var(--spacing-8);
    }
  }

  & [data-part='content-outer'] {
    min-height: 0;
    /* calc(2 * spacing) = 20px = 1.25rem = var(--spacing-5) */
    padding: var(--spacing-5);
  }

  & [data-part='content-inner'] {
    height: 100%;
  }
}
