:root {
  --color-sidebar-bg: var(--color-accent);
  --color-sidebar-bg-disabled: var(--color-divider);
  --color-sidebar-border: var(--color-divider);
  --width-sidebar-mini-panel: calc(6 * var(--spacing));
  --padding-sidebar-mini-panel: var(--spacing);
  --padding-sidebar-header: calc(2 * var(--spacing));
  --size-sidebar-trigger: calc(4 * var(--spacing));
  --size-sidebar-trigger-icon: calc(4 * var(--spacing));
  --size-sidebar-close-trigger: calc(8 * var(--spacing));
  --size-sidebar-close-trigger-icon: calc(6 * var(--spacing));
  --padding-sidebar-content: calc(2 * var(--spacing));
}

[data-tag='sidebar'] {
  &[data-part='root'] {
    background-color: var(--color-sidebar-bg);
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 0;
    border-style: solid;
    border-color: var(--color-sidebar-border);
    z-index: 2;

    &[data-position='right'] {
      right: 0;
      border-left-width: 1px;
    }

    &[data-position='left'] {
      left: 0;
      border-right-width: 1px;
    }

    &[data-state='closed'] {
      border: 0;
    }
  }

  &[data-part='mini-panel'] {
    background-color: var(--color-sidebar-bg);
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: var(--width-sidebar-mini-panel);
    transition: all;
    padding: var(--padding-sidebar-mini-panel);
    border: 0;
    border-style: solid;
    border-color: var(--color-sidebar-border);
    cursor: pointer;
    z-index: 1;

    &[data-position='right'] {
      right: 0;
      border-left-width: 1px;
    }

    &[data-position='left'] {
      left: 0;
      border-right-width: 1px;
    }

    &:hover {
      background-color: var(--color-sidebar-border);
    }

    &[data-disabled='true'] {
      pointer-events: none;
      background-color: var(--color-sidebar-bg-disabled);
    }
  }

  & [data-part='trigger'] {
    transition: all;
    color: var(--color-primary);
    width: var(--size-sidebar-trigger);
    height: var(--size-sidebar-trigger);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--color-accent);
    }

    &[data-position='left'] {
      transform: rotate(180deg);
    }

    & > svg {
      font-size: var(--size-sidebar-trigger-icon);
    }
  }

  & [data-part='header'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    border-bottom: 1px solid var(--color-sidebar-border);
    padding: var(--padding-sidebar-mini-panel);

    &[data-position='left'] {
      flex-direction: row-reverse;
    }
  }

  & [data-part='close-trigger'] {
    color: var(--color-primary);
    width: var(--size-sidebar-close-trigger);
    height: var(--size-sidebar-close-trigger);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      color: var(--color-accent);
    }

    &[data-position='left'] {
      transform: rotate(180deg);
    }

    & > svg {
      font-size: var(--size-sidebar-close-trigger-icon);
    }
  }

  & [data-part='content-outer'] {
    min-height: 0;
    padding: var(--padding-sidebar-content);
  }

  & [data-part='content-inner'] {
    height: 100%;
  }
}
