@theme {
  --height-progress-track: calc(0.4 * var(--unit));
  --size-progress-circle: calc(6 * var(--unit));
}

[data-scope='progress'] {
  /* linear */
  & [data-part='track'] {
    background: var(--color-divider);
    height: var(--height-progress-track);
  }

  & [data-part='range'] {
    background: var(--color-primary);
    height: var(--height-progress-track);

    &[data-state='indeterminate'] {
      animation: linear-indeterminate-bar 1s linear infinite;
      transform-origin: center center;
    }
  }

  & [data-part='buffer'] {
    background: linear-gradient(to right, var(--color-primary-contrast), var(--color-primary));
    height: var(--height-progress-track);
  }

  & > div[data-disabled='true'] {
    & [data-part='track'] [data-part='range'] {
      background: var(--color-divider);
    }

    & [data-part='circle-track'] {
      stroke: var(--color-divider);
    }

    & [data-part='circle-range'] {
      stroke: transparent;
    }
  }

  /* circle */
  & [data-part='circle'] {
    --size: var(--size-progress-circle);
    --thickness: var(--height-progress-track);

    &[data-state='indeterminate'] {
      animation: circle-indeterminate-rotate 1.5s linear infinite;
    }
  }

  & [data-part='circle-track'] {
    stroke: transparent;
  }

  & [data-part='circle-range'] {
    stroke: var(--color-primary);
    stroke-linecap: round;
    transition-property: stroke-dasharray, stroke;
    transition-duration: 0.6s;

    &[data-state='indeterminate'] {
      animation: circle-indeterminate-range 2s ease-in-out infinite;
    }
  }

  & > div[data-multicolor='true'] {
    & [data-part='circle-range'][data-state='indeterminate'] {
      animation: circle-indeterminate-range 2s ease-in-out infinite, circle-indeterminate-color 2s
        ease-in-out infinite;
    }
  }
}

@keyframes linear-indeterminate-bar {
  0% {
    transform: translate(-50%) scaleX(0);
  }

  50% {
    transform: translate(-0%) scaleX(0.3);
  }

  100% {
    transform: translate(50%) scaleX(0);
  }
}

@keyframes circle-indeterminate-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-indeterminate-range {
  0% {
    stroke-dasharray: 1, 400;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 400, 400; 
    stroke-dashoffset: -260;
  }
}

@keyframes circle-indeterminate-color {
  0% {
    stroke: var(--color-blue-700);
  }

  25% {
    stroke: var(--color-red-500);
  }

  50% {
    stroke: var(--color-amber-600);
  }

  75% {
    stroke: var(--color-green-600);
  }

  100% {
    stroke: var(--color-blue-700);
  }
}
