[data-fluid] {
  width: 100%;
}

:root {
  --scrollbar: #e5e5e5;
  --scrollbar-thumb: #cdcdcd;
  --scrollbar-thumb-hover: #b3b3b3;

  --width-scroll: var(--spacing-2);
}

[data-role='scroll-container'] {
  overflow: auto;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: var(--width-scroll);
    background: var(--scrollbar);

    &::horizontal {
      border: none;
      border-top: 1px solid transparent;
    }
  }

  &::-webkit-scrollbar-corner {
    background: var(--color-theme-background-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    background-clip: padding-box;

    &:hover {
      background-color: var(--scrollbar-thumb-hover);
    }

    &:active {
      background-color: var(--scrollbar-thumb-hover);
    }
  }
}
