[data-scope='divider'][data-part='root'] {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--color-divider-primary-default);
  flex-shrink: 0;

  &[data-orientation='vertical'] {
    height: var(--spacing-4);
    min-width: var(--spacing-px);
    width: var(--spacing-px);
  }

  &[data-orientation='horizontal'] {
    min-width: var(--spacing-4);
    height: var(--spacing-px);
  }
}
