/* Main Layout */
.Wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

:global(html.printMode) {
  @media print {
    .Wrapper {
      height: auto;
    }
  }
}

:global {
  & [data-react-toolbox='navigation'] {
    & ~ .GridContainer {
      height: calc(100% - 38px);
    }
  }
}
